* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	padding-top: 10rem;
}

#logo {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	display: block;
}


footer {
	background-color: #333333;
	color: white;
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0px;
	text-align: center;
}

footer label {
	margin-top: 2.0em;
}

#center {
	width: 40%;
	margin: 0 auto;
}



/** AngularJS **/

.inputdemoIcons .inputIconDemo {
	min-height: 48px; 
}
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
	color: green;
}
.inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
	color: dodgerblue; 
}
.inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
.inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
	color: red; 
}

.inputdemoErrors .inputErrorsApp {
	min-height: 48px; 
}