<!DOCTYPE html>
<html lang="en" ng-app="RegisterAdm">
<head>
	<meta charset="UTF-8" />
	<link href="register-adm.css" rel="stylesheet" />
	<link href="../../shared/img/otus-studio-img.png" rel="icon"/>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.10.0/angular-material.min.css">
	<title>Cadastro de Administrador</title>
</head>
<body>
	<img src="../../shared/img/otus-studio-img.png" id="logo"/>
	<h1>Otus Studio</h1>
<div id="center">
	<div ng-controller="DemoCtrl" layout="column">
		
		<md-content layout-padding class="autoScroll">
			<md-toolbar class="md-theme-light md-default-theme">
    			<h2 class="md-toolbar-tools">
      			<span>Cadastro do Administrador</span>
    			</h2>
 			</md-toolbar>
 			<br/>
		<div layout layout-sm="column">

	  		<md-input-container md-no-float flex>
		    	<input ng-model="user.name" type="text" ng-required="true" placeholder="Nome">
	    	</md-input-container>

	    	<md-input-container md-no-float flex>
				<input ng-model="user.sobrenome" type="text" placeholder="Sobrenome" ng-required="true">
	    	</md-input-container>

	    </div>
		    <md-input-container md-no-float>
		    	<input ng-model="user.phone" type="text" placeholder="Telefone">
		    </md-input-container>
		   
		    <md-input-container md-no-float>
		    	<input ng-model="user.email" type="email" placeholder="Email" ng-required="true">
		    </md-input-container>

		    <md-input-container md-no-float>
			    <input ng-model="user.password" type="password" placeholder="Senha" >
		  	</md-input-container>

		  	<md-input-container md-no-float>
			    <input ng-model="user.passwordConfirm" type="password" placeholder="Confirmação de Senha" >
		  	</md-input-container>
		  	
	  </md-content>
	
	  <md-button class="md-raised md-button md-default-theme">Cadastrar</md-button>
	
	</div>
</div>

<footer> 
	<p>Copyright© 2015 ELSA Brasil Corporation.</p> 
</footer>


<!-- Angular Material Dependencies -->
<script src="../../shared/lib/angularjs/angular.min.js"></script>
<script src="../../shared/lib/angularjs/angular-animate.min.js"></script>
<script src="../../shared/lib/angularjs/angular-aria.min.js"></script>
<script src="../../shared/lib/angularjs/angular-material.min.js"></script>
<script src="../app.js"></script>
<script src="register-adm.ctrl.js"></script>
</body>
</html>