<div flex id="survey-properties" class="properties-frame" ng-controller="SurveyPropertiesController as surveyPropertiesController">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Dados do Formulário</span>
        </h2>
    </md-toolbar>
    <md-content class="md-padding properties-frame-body" flex>
        <md-input-container class="md-block">
            <label>Nome</label>
            <input name="name" type="text"
                ng-model="surveyPropertiesController.survey.name"
                editing-source
                es-type="input-text"
                es-id="survey-properties-identity-name"
                es-target="survey.identity.name"
                disabled/>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Sigla</label>
            <input name="acronym" type="text"
                ng-model="surveyPropertiesController.survey.acronym"
                editing-source
                es-type="input-text"
                es-id="survey-properties-identity-acronym"
                es-target="survey.identity.acronym"
                disabled/>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Versão</label>
            <input name="version" type="text"
                ng-model="surveyPropertiesController.survey.version"
                editing-source
                es-type="input-text"
                es-id="survey-properties-identity-version"
                es-target="survey.identity.version"
                disabled/>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Recomendado para</label>
            <input name="recommendedTo" type="text"
                ng-model="surveyPropertiesController.survey.recommendedTo"
                editing-source
                es-type="input-text"
                es-id="survey-properties-identity-recommendedTo"
                es-target="survey.identity.recommendedTo"/>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Descrição</label>
            <input name="description" type="text"
                ng-model="surveyPropertiesController.survey.description"
                editing-source
                es-type="input-text"
                es-id="survey-properties-identity-description"
                es-target="survey.identity.description"/>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Tags</label>
            <input name="keywords" type="text"
                ng-model="surveyPropertiesController.survey.keywords"
                editing-source
                es-type="input-text"
                es-id="survey-properties-identity-keywords"
                es-target="survey.identity.keywords"/>
        </md-input-container>
    </md-content>
</div>
<md-divider></md-divider>
