<md-list-item layout-padding style="margin-top:15px" >
    <form name="minTimeValidator" flex="85" layout="row">
            <md-input-container flex="85">
                <label>Hora mínima esperada:</label>
                <input name="minTime" type="time" flex="100" aria-label="Tempo" ng-model="widget.data.date" ng-blur="widget.updateData()" required>

                <div ng-messages="minTimeValidator.minTime.$error">
                    <div ng-message="required">Adicione a hora</div>
                </div>
            </md-input-container>
          <md-button ng-click="widget.deleteValidator()" class="md-icon-button md-button">
            <i class="material-icons">close</i>
          </md-button>
    </form>
</md-list-item>
