<md-list-item layout-padding layout-align="space-around" style="margin-top: 15px">
    <md-content layout="column" flex="90">
        <md-content layout="row" flex="100">
            <span class="md-body-1" flex>Data Mínima:</span>
          <md-button ng-click="widget.deleteValidator()" flex="20" class="md-icon-button md-button">
            <i class="material-icons">close</i>
          </md-button>
        </md-content>
        <md-content layout="row" layout-align="start" flex="100">
            <md-datepicker ng-model="widget.data.date" md-placeholder="Insira uma data" ng-change="widget.updateData()"></md-datepicker>
        </md-content>
    </md-content>
<!--    <md-content layout="column" flex="10" layout-padding layout-align="end center">-->
<!--        <md-button ng-click="widget.deleteValidator()" class="md-icon-button md-button">-->
<!--            <i class="material-icons">close</i>-->
<!--        </md-button>-->
<!--    </md-content>-->
</md-list-item>
