<!-- Editor container -->
<md-whiteframe class="md-whiteframe-1dp question-whiteframe" layout="row" layout-align="left center">
    <ui-accordion title="{{question.type}}" flex>
        <ui-accordion-content layout="column" layout-padding flex>
            <md-content layout="column" flex>
                <div layout="row" class="label-container" layout-align="left center">
                    <div flex contenteditable="true" edit-mode edit-placeholder="Clique aqui para inserir o texto da label"></div>
                </div>
                <md-tabs class="filling-mode-selector" md-no-pagination md-dynamic-height>
                    <md-tab label="Resposta">
                        <md-content class="md-padding">
                            {{question.template}}
                        </md-content>
                    </md-tab>
                    <md-tab label="Metadado">
                        <md-content class="md-padding"></md-content>
                    </md-tab>
                    <md-tab label="Comentário">
                        <md-content class="md-padding"></md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </ui-accordion-content>
    </ui-accordion>
</md-whiteframe>
