<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" ng-cloak style="z-index: 1000 !important" flex>
    <md-toolbar id="system-toolbar" layout="row">
        <md-button ng-click="systemToolbarController.open()">
            <md-icon md-svg-icon="menu" aria-label="Menu"></md-icon>
            Otus Studio
        </md-button>
    </md-toolbar>
    <md-list>
        <md-list-item class="md-1-line">
            <md-button id="new-surveyform-button" ng-click="systemToolbarController.openHome($event)" layout="row">
                <md-icon md-svg-icon="file-document-box" style="margin-left: 1em;" aria-label="Novo Formulário"></md-icon>
                Home
            </md-button>
        </md-list-item>
        <md-list-item class="md-1-line">
            <md-button id="new-surveyform-button" ng-click="systemToolbarController.openEditor($event)" layout="row">
                <md-icon md-svg-icon="file-document-box" style="margin-left: 1em;" aria-label="Novo Formulário"></md-icon>
                Formulários
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>
