<md-list-item layout-padding flex>
    <form name="scaleValidator" flex-gt-xs>
        <md-content layout="column" layout-align="start" flex="90">
            <md-input-container layout="row" layout-align="start center">
                <span class="md-body-1">Nr de Casas Decimais:</span>
                <input name="scale" type="number" min="0" flex="30" flex-offset="5" aria-label="Número de casas decimais" ng-model="widget.data" ng-change="widget.updateData()" required>

                <div ng-messages="scaleValidator.scale.$error">
                    <div ng-message="required">Adicione o número de casas decimais</div>
                </div>
            </md-input-container>
        </md-content>
    </form>
    <md-content layout="column" flex="10" layout-padding layout-align="center center">
        <md-button ng-click="widget.deleteValidator()" class="md-icon-button md-button">
            <i class="material-icons">close</i>
        </md-button>
    </md-content>
</md-list-item>
