<div ng-controller="ContainerController as containerCtrl" layout="column">
    <md-button class="md-raised md-primary" ng-click="containerCtrl.changeState()">Questions</md-button>
    <div ng-show="isOpened" layout="column">
        <md-button class="md-primary" ng-click="containerCtrl.addText()" editing-source action="add-question">Text</md-button>
        <md-button class="md-primary" ng-click="containerCtrl.addCheckbox()" editing-source action="add-question">checkbox</md-button>
    </div>
</div>
