<div id="repository" class="center" ng-controller="RepositoryController">
    <md-content>
        <form name="repositoryForm" novalidate>
            <md-input-container class="md-block">
                <label>Nome do repositório</label>
                <input name="name" ng-blur="existRepository(repository)" ng-model="repository.name" type="text"
                       ng-required="true"/>

                <div ng-messages="repositoryForm.name.$error">
                    <div ng-message="required">Obrigatório</div>
                    <div ng-message="repositoryNameInUse">Repositório já cadastrado</div>
                </div>
            </md-input-container>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Nome Base de Dados</label>
                    <input name="database" ng-blur="validateDatabase(repository)" ng-model="repository.database" type="text" ng-required="true"/>

                    <div ng-messages="repositoryForm.database.$error">
                        <div ng-message="required">Obrigatório</div>
                        <div ng-message="databaseAlreadyExist">Já existe uma base de dados com esse nome</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label>Servidor</label>
                    <input name="host" ng-blur="validateDatabase(repository)" ng-model="repository.host" type="text" ng-required="true"/>

                    <div ng-messages="repositoryForm.host.$error">
                        <div ng-message="required">Obrigatório</div>
                        <div ng-message="connection">Problema ao conectar. Verifique os dados do servidor.</div>
                    </div>
                </md-input-container>
                <md-input-container flex="30">
                    <label>Porta</label>
                    <input name="port" ng-blur="validateDatabase(repository)" ng-model="repository.port" type="number" ng-required="true"/>

                    <div ng-messages="repositoryForm.port.$error">
                        <div ng-message="required">Obrigatório</div>
                    </div>
                </md-input-container>
            </div>
            <md-input-container class="md-block">
                <label>Usuário</label>
                <input name="username" ng-model="repository.username" type="text" ng-required="true"/>

                <div ng-messages="repositoryForm.username.$error">
                    <div ng-message="required">Obrigatório</div>
                    <div ng-message="credentials">Problema na autenticação. Verifique se os dados estão corretos.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Senha</label>
                <input name="password" ng-blur="validateCredentials(repository)" ng-model="repository.password" ng-required="true" type="password"/>

                <div ng-messages="repositoryForm.password.$error">
                    <div ng-message="required">Obrigatório</div>
                    <div ng-message="credentials">Problema na autenticação. Verifique se os dados estão corretos.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Descrição</label>
                <textarea ng-model="repository.description" columns="1" md-maxlength="150" rows="2"></textarea>
            </md-input-container>

            <md-button class="md-raised md-accent" ng-disabled="repositoryForm.$invalid"
                       ng-click="actionButton(repository)">Executar
            </md-button>
            <div layout="row" layout-sm="column" layout-align="center">
                <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
            </div>
        </form>
    </md-content>
</div>
