<div layout="column" flex>
  <md-toolbar layout="row" layout-align="center center" class="md-primary editor-toolbar navbar-fixed-top" ng-controller="EditorToolbarController as editorToolbarController">
    <div class="md-toolbar-tools" layout-align="space-between center">
      <div layout="row" layout-align="end center">
        <md-button aria-label="Salvar" class="editor-icon" ng-disabled="editorToolbarController.isSurveyEmpty()"
          ng-click="editorToolbarController.saveOfflineWork()">
          <md-icon md-svg-icon="content-save"></md-icon>
          <md-tooltip md-direction="down">
            Salvar
          </md-tooltip>
        </md-button>
        <md-button survey-template-export ng-disabled="editorToolbarController.isSurveyEmpty()" aria-label="Exportar"
          class="editor-icon">
          <md-icon md-svg-icon="file-export"></md-icon>
          <md-tooltip md-direction="down">
            Exportar
          </md-tooltip>
        </md-button>
      </div>
      <otus:text-edition-menu show-gt-xs hide></otus:text-edition-menu>
      <span flex-xs></span>
      <otus:text-edition-menu show-xs hide-gt-xs></otus:text-edition-menu>

      <div layout="row" layout-align="end center">
        <md-button class="md-fab md-mini md-primary" ng-click="mainContainer.showQuestionsMenu()">
          <md-tooltip md-delay="0" md-direction="bottom" md-autohide="true" ng-cloak>
            Menu de questões
          </md-tooltip>
          <md-icon class="material-icons">library_books</md-icon>
        </md-button>
      </div>

    </div>
  </md-toolbar>
<!--  <md-content  flex layout="column">-->
<!--      <otus-stage template="mainContainer.template"></otus-stage>-->
<!--  </md-content>-->
<!--  TODO: ABORDAGEM PARA MOBILE?-->
  <md-content  flex layout="column">
    <md-content layout="column" layout-padding layout-fill="" class="stage" >
      <md-tabs id="stage-mode-selector" layout-fill="">
        <md-tab id="editing-tab" label="Edição" layout-fill="">
          <otus-stage template="mainContainer.template"></otus-stage>
        </md-tab>
        <md-tab id="survey-navigation-tab" label="Navegação" ng-click="mainContainer.startNavigationBuilder()">
          <div ng-include="'app/navigation-builder/navigation-builder-index.html'"></div>
        </md-tab>
        <md-tab id="resource-tab" label="Recursos">
          <studio-static-variable></studio-static-variable>
        </md-tab>
        <md-tab id="preview-tab" label="Preview" otus-survey-preview-generator>
          <div id="survey-preview" layout="row" layout-align="center center" flex></div>
        </md-tab>
      </md-tabs>
    </md-content>
  </md-content>

</div>

