<md-list-item style="margin-top:15px" layout-padding="">
  <form name="maxLengthValidator" layout="row" flex="85">
    <md-input-container class="md-icon-right" flex>
      <label>Máximo de Caracteres:</label>
      <input name="maxLength" type="number" min="0" flex="100" aria-label="Máximo de caracteres" ng-model="widget.data" ng-change="widget.updateData()" required>
      <md-icon ng-click="widget.deleteValidator()">close</md-icon>
      <div ng-messages="maxLengthValidator.maxLength.$error">
        <div ng-message="required">Adicione o número de caracteres</div>
      </div>
    </md-input-container>
  </form>
</md-list-item>
