<md-content>
    <md-radio-group class="radio-group">
        <div radio-container ng-repeat="optionWidget in widget.options track by $index" layout="row" style="margin: 10px">
            <md-radio-button aria-label="{{optionWidget.id}}" ng-value="$index" flex style="margin: 0"></md-radio-button>
            <otus:text-editor flex="95" ng-model="optionWidget.option.label" placeholder="Clique para inserir o texto da opção de metadado"></otus:text-editor>
        </div>
    </md-radio-group>

    <md-content>
        <otus:button click="widget.addOption" label="Adicionar opção" />
        <otus:button click="widget.removeLastOption" label="Remover última opção" />
    </md-content>
</md-content>
