<!DOCTYPE html>
<html lang="en" ng-app="StudioApp">
<head>
    <base href="/studio/app/" />
    <meta charset="UTF-8" />
    <link href="public/setting/register-adm.css" rel="stylesheet" />
    <link href="shared/img/otus-studio-img.png" rel="icon"/>
    <title>Cadastro de Administrador</title>

    <!-- Angular Material Dependencies -->
    <link rel="stylesheet" href="shared/lib/angularjs/md/angular-material.min.css">
    <script src="shared/lib/angularjs/angular.min.js"></script>
    <script src="shared/lib/angularjs/external-lib/angular-messages.min.js"></script>
    <script src="shared/lib/angularjs/external-lib/angular-ui-mask.min.js"></script>
    <script src="shared/lib/angularjs/md/angular-animate.min.js"></script>
    <script src="shared/lib/angularjs/md/angular-aria.min.js"></script>
    <script src="shared/lib/angularjs/md/angular-material.min.js"></script>

    <script src="app.js"></script>
    <script src="public/setting/register-adm.ctrl.js"></script>

</head>
<body>
    <img src="shared/img/otus-studio-img.png" id="logo"/>
    <h1>Otus Studio</h1>
<div id="center">
    <div ng-controller="SystemConfigCtrl" layout="column">

        <md-content layout-padding class="autoScroll">
                <md-toolbar class="md-theme-light md-default-theme">
                    <h2 class="md-toolbar-tools">
                    <span>Cadastro do Administrador</span>
                    </h2>
                </md-toolbar>
                <br/>
                <form name="initialConfigSystemForm" novalidate>
                <div layout layout-sm="column">

                    <md-input-container flex>
                        <label>Nome</label>
                        <input name="name" ng-model="systemConf.user.name" type="text" ng-required="true" />
                        <div ng-messages="initialConfigSystemForm.name.$error">
                            <div ng-message="required" ng-show="initialConfigSystemForm.name.$error.required">Obrigatório</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Sobrenome</label>
                        <input name="surname" ng-model="systemConf.user.surname" type="text" ng-required="true" />
                        <div ng-messages="initialConfigSystemForm.surname.$error">
                            <div ng-message="required" ng-show="initialConfigSystemForm.surname.$error.required">Obrigatório</div>
                        </div>
                    </md-input-container>

                </div>
                <md-input-container>
                    <label>Celular</label>
                    <input name="phone" id="phonenumber" ng-model="systemConf.user.phone" type="text" ui-options={clearOnBlur:false}  ng-required="true" ui-mask="(99) 99999999?9" />
                    <div ng-messages="initialConfigSystemForm.phone.$error">
                        <div ng-message="required" ng-show="initialConfigSystemForm.phone.$error.required">Obrigatório</div>
                        <div ng-message="ui-mask" ng-show="initialConfigSystemForm.phone.$error.mask">Insira um número válido.</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Email</label>
                    <input name="email" ng-model="systemConf.user.email" type="email" ng-required="true" />
                    <div ng-messages="initialConfigSystemForm.email.$error">
                        <div ng-message="required" ng-show="initialConfigSystemForm.email.$error.required">Obrigatório</div>
                        <div ng-message="email" ng-show="initialConfigSystemForm.email.$error.email">Insira um email válido.</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Senha</label>
                    <input name="password" ng-blur="matchPassword()" ng-model="systemConf.user.password" type="password" ng-required="true" maxlength="32" ng-minlength="6" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])/"/>
                    <div ng-messages="initialConfigSystemForm.password.$error" >
                        <div ng-message="required" ng-show="initialConfigSystemForm.password.$error.required">Obrigatório</div>
                        <div ng-message="minlength" ng-show="initialConfigSystemForm.password.$error.minlength">Mínimo 6 caracteres</div>
                        <div ng-message="pattern" ng-show="initialConfigSystemForm.password.$error.pattern"><br />Deve conter pelo menos um caracter minúsculo, um maiúsculo e um dígito</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Confirmação de Senha</label>
                    <input name="passwordConfirm" ng-blur="matchPassword()" ng-model="systemConf.user.passwordConfirm" type="password" ng-required="true" />
                    <div ng-messages="initialConfigSystemForm.passwordConfirm.$error">
                        <div ng-message="required" ng-show="initialConfigSystemForm.passwordConfirm.$error.required">Obrigatório</div>
                        <div ng-message ng-show="(systemConf.user.passwordConfirm != systemConf.user.password) && (systemConf.user.passwordConfirm && systemConf.user.password)">Suas senhas não coincidem.</div>
                    </div>
                </md-input-container>

                <md-toolbar class="md-theme-light md-default-theme">
                    <h2 class="md-toolbar-tools">
                    <span>Configurações do E-mail</span>
                    </h2>
                </md-toolbar>

                <md-input-container>
                    <label>Nome</label>
                    <input name="emailSenderName" ng-model="systemConf.emailSender.name" type="text" ng-required="true" />
                    <div ng-messages="initialConfigSystemForm.emailSenderName.$error">
                          <div ng-message="required" ng-show="initialConfigSystemForm.emailSenderName.$error.required">Obrigatório</div>
                    </div>
                </md-input-container>

                <md-input-container>
                    <label>Email</label>
                    <input name="emailSenderEmail" ng-model="systemConf.emailSender.email" ng-change="resetValidationEmail()" type="email" ng-required="true" />
                    <div ng-messages="initialConfigSystemForm.emailSenderEmail.$error">
                        <div ng-message="email" ng-show="initialConfigSystemForm.emailSenderEmail.$error.email">Insira um email válido.</div>
                        <div ng-message="required" ng-show="initialConfigSystemForm.emailSenderEmail.$error.required">Obrigatório</div>
                        <div ng-message="emailService">Erro ao validar serviço de email. Verifique dados informados</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Senha</label>
                    <input name="emailSenderPassword" ng-blur="matchPasswordEmailSender()" ng-change="resetValidationEmail()" ng-model="systemConf.emailSender.password" type="password" ng-required="true" />
                    <div ng-messages="initialConfigSystemForm.emailSenderPassword.$error">
                        <div ng-message="required" ng-show="initialConfigSystemForm.emailSenderPassword.$error.required">Obrigatório</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Confirmação de Senha</label>
                    <input name="emailSenderPasswordConfirm" ng-blur="matchPasswordEmailSender()" ng-model="systemConf.emailSender.passwordConfirm" type="password" ng-required="true" />
                    <div ng-messages="initialConfigSystemForm.emailSenderPasswordConfirm.$error">
                        <div ng-message="required" ng-show="initialConfigSystemForm.emailSenderPasswordConfirm.$error.required">Obrigatório</div>
                        <div ng-message ng-show="(systemConf.emailSender.passwordConfirm != systemConf.emailSender.password) && (systemConf.emailSender.passwordConfirm && systemConf.emailSender.password)">Suas senhas não coincidem.</div>
                    </div>
                </md-input-container>
                <md-button class="md-raised md-primary md-button md-default-theme" ng-disabled="initialConfigSystemForm.$invalid"  ng-click="register(systemConf)">Cadastrar</md-button>
            </form>
      </md-content>
    </div>
</div>

<footer>
    <p>Copyright© 2015 ELSA Brasil Corporation.</p>
</footer>

</body>
</html>