<md-content ng-controller="ToolbarController" flex>
    <md-toolbar id="system-toolbar">
        <div class="md-toolbar-tools">
            <md-button ng-click="openHome(); loadPageHeaderMessage()">
                <md-icon md-svg-icon="home" aria-label="Home"></md-icon>
            </md-button>
            <h3 ng-controller="RepositoryController as ctrl">
                <span>{{ctrl.connected()}}</span>
            </h3>
            <md-icon md-svg-icon="file-document-box" style="margin-left: 1em;" aria-label="Form"></md-icon>
            <md-button ng-click="openContainer(); loadPageHeaderMessage()">Novo Form</md-button>
            <md-icon md-svg-icon="cloud-upload" aria-label="Criar Repositório"></md-icon>
            <md-button ng-click="openNewRepository(); loadPageHeaderMessage()">Criar Repositório</md-button>
            <md-icon md-svg-icon="cloud-download" aria-label="Conectar Repositório"></md-icon>
            <md-button ng-click="openConnectRepository(); loadPageHeaderMessage()">Conectar Repositório</md-button>
            <md-icon md-svg-icon="account" aria-label="Configurações"></md-icon>
            <md-button ng-click="openAdministrationUsers(); loadPageHeaderMessage()">Usuários</md-button>
            <span flex></span>
            <a class="navbar-brand" rel="home" title="Profile">
                <img ng-src="shared/img/prof_bruce_duncan.jpg" class="image-user-div"/>
            </a>
            <md-button aria-label="Logout" ng-click="logout()">
                <md-icon md-svg-icon="exit-to-app" aria-label="Logout"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <!-- /#system-toolbar -->
    <md-toolbar id="subarea-toolbar" class="md-toolbar-tools md-primary" layout-align="center center">
        <h2 class="md-flex">{{pageMessage}}</h2>
    </md-toolbar>
    <!-- /#subarea-toolbar -->
</md-content>
