<md-dialog layout="column" aria-label="Editar prioridade da rota" flex>
  <md-toolbar layout="row" flex>
    <div class="md-toolbar-tools">
      <h2>Editar prioridade das rotas</h2>
    </div>
  </md-toolbar>
  <md-dialog-content layout="row" layout-align="center center" flex>
    <md-list ng-cloak flex>
      <md-list-item ng-click="navigateTo(setting.extraScreen, $event)" ng-repeat="out in ctrl.node.outNeighbors track by $index">
        <md-icon md-svg-icon="{{setting.icon}}"></md-icon>
        <p> Origem: {{ ctrl.node.id }} - Destino: {{ out.id }}</p>
        <div layout="row" flex="20" layout-align="end end">
          <md-button class="md-icon-button" aria-label="Mover para cima" ng-click="ctrl.up($index)">
            <md-icon md-font-library="material-icons" aria-label="Mover para cima">keyboard_arrow_up</md-icon>
            <md-tooltip md-visible="false" md-delay="200" md-direction="top" md-autohide="true">
              Mover para cima
            </md-tooltip>
          </md-button>
          <md-button class="md-icon-button" aria-label="Mover para baixo" ng-click="ctrl.down($index)">
            <md-icon md-font-library="material-icons" aria-label="Mover para baixo">keyboard_arrow_down</md-icon>
            <md-tooltip md-visible="false" md-delay="200" md-direction="top" md-autohide="true">
              Mover para baixo
            </md-tooltip>
          </md-button>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-list>
  </md-dialog-content>
  <md-dialog-actions layout="row" flex>
    <md-button class="md-raised" ng-click="ctrl.cancel()">Cancelar</md-button>
    <md-button class="md-raised md-primary" ng-click="ctrl.confirm()" ng-disabled="!ctrl.changed">Salvar</md-button>
  </md-dialog-actions>
</md-dialog>