.tabsdemoDynamicHeight {
	background-color: #FFFFFF;
	/*margin-right: 40px;*/
}

.tabsdemoDynamicHeight md-content {
	background-color: transparent !important;
}

.tabsdemoDynamicHeight md-content md-tabs {
	border: 1px solid #e1e1e1;
}

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
	background: white;
}

.tabsdemoDynamicHeight md-content h1:first-child {
	margin-top: 0;
}

.style-sheet {
	-webkit-box-shadow: 2px 5px 10px 4px rgba(176, 167, 176, 1);
	-moz-box-shadow: 2px 5px 10px 4px rgba(176, 167, 176, 1);
	box-shadow: 2px 5px 10px 4px rgba(176, 167, 176, 1);
}

.page {
	overflow-y: scroll;
	min-height: 100px;
}