<!DOCTYPE html>
<html lang="en" ng-app="studio">
    <head>
        <base href="../"/>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="assets/img/coruja_construtora.png" rel="icon"/>
        <title>Otus Studio</title>
    </head>

    <body layout="row" flex class="md-body-2" md-theme="layoutTheme" ng-controller="DashboardMenuController as dashboardMenu">
        <md-sidenav layout="column" flex class="md-sidenav-left md-whiteframe-z2" md-component-id="left" ng-cloak style="z-index: 1000 !important">
            <md-content ui-view="dashboard-menu"></md-content>
        </md-sidenav>

        <md-content layout="column" flex ng-cloak>
            <md-toolbar layout="row" id="system-toolbar" class="md-accent md-hue-1">
                <a class="navbar-brand" rel="home" title="Otus" layout="row" layout-align="center center">
	   				 <img ng-src="assets/img/coruja_construtora.png" class="image-otus-toolbar"/>
	       		</a>
                <md-button ng-click="dashboardMenu.open()">
                    <md-icon md-svg-icon="menu" aria-label="Menu"></md-icon>
                    Otus Studio
                </md-button>
                <span flex></span>
                <h3 ng-controller="RepositoryController as repositoryController">
                    <span>{{repositoryController.connected()}}</span>
                </h3>
                <span flex="5"></span>
                 <md-whiteframe class="md-whiteframe-10dp image-component" layout="row" >
	                <a class="navbar-brand" rel="home" title="Profile" layout="row" layout-align="center center">
	   					  <img ng-src="assets/img/prof_bruce_duncan.jpg" class="image-user-div" />
	                </a>
                 </md-whiteframe>
                <md-button aria-label="Logout" ng-click="dashboardMenu.logout()">
                    <md-icon md-svg-icon="exit-to-app" aria-label="Logout"></md-icon>
                </md-button>
            </md-toolbar>
            <md-content ui-view="system-content" layout="row" flex></md-content>
        </md-content>
    </body>

    <!-- Script imports -->
    <!-- ************************************* jQuery ************************************* -->
    <script src="shared/jquery/jquery-2.2.0.min.js"></script>

    <!-- ************************************* Angular ************************************* -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-animate/angular-animate.min.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="shared/angular-bind-html-compile/angular-bind-html-compile.js"></script>
    <script src="node_modules/angular-messages/angular-messages.min.js"></script>
    <script src="shared/angular-ui-mask/angular-ui-mask.min.js"></script>
    <script src="shared/angular-ui-router/angular-ui-router.min.js"></script>

    <!-- ************************************* Angular Material ************************************* -->
    <link href="shared/angular-material/angular-material.min.css" rel="stylesheet"/>
    <script src="shared/angular-material/angular-material.min.js"></script>

    <!-- ************************************* Lokijs ************************************* -->
    <script src="shared/lokijs/lokijs.min.js"></script>
    <script src="shared/lokijs/loki-angular.js"></script>


    <!-- ************************************* IndexedDB ************************************* -->
    <script src="shared/angular-indexed-db/angular-indexed-db.min.js"></script>


    <!-- ************************************* Moment ************************************* -->
    <script src="shared/moment/moment.js"></script>

    <!-- ***************************************** Utils ***************************************** -->
    <!-- Utils -->
    <script src="node_modules/node-uuid/uuid.js"></script>
    <script src="node_modules/js-base64/base64.min.js"></script>
    <script src="shared/st-utils/st-utils-module.js"></script>

    <!-- ************************************* UI Components ************************************* -->
    <script src="shared/ui-components/ui-components-module.js"></script>
    <script src="shared/ui-components/accordion/accordion-directive.js"></script>


    <!-- ************************************** Otus Domain ************************************** -->
    <!-- app.shared.otus-domain.survey-repository -->
    <script src="shared/otus-domain/survey-repository/repository-module.js"></script>
    <script src="shared/otus-domain/survey-repository/repository-controller.js"></script>
    <script src="shared/otus-domain/survey-repository/repository-service.js"></script>

    <!-- app.shared.otus-domain.user -->
    <script src="shared/otus-domain/user/user-module.js"></script>
    <script src="shared/otus-domain/user/management/user-controller.js"></script>


    <!-- ************************************** OtusJS ************************************** -->
    <!-- app.shared.otusjs -->
    <script src="shared/otusjs/otusjs-module.js"></script>

    <!-- === otusjs-model === -->
    <!-- app.shared.otusjs.model -->
    <script src="shared/otusjs/model/otusjs-model-module.js"></script>

    <!-- app.shared.otusjs.model.api -->
    <script src="shared/otusjs/model/api/model-facade-service.js"></script>

    <!-- app.shared.otusjs.model.metadata -->
    <script src="shared/otusjs/model/metadata/metadata-answer-factory.js"></script>
    <script src="shared/otusjs/model/metadata/metadata-group-factory.js"></script>

    <!-- app.shared.otusjs.model.question -->
    <script src="shared/otusjs/model/question/answer-option-factory.js"></script>
    <script src="shared/otusjs/model/question/calendar-question-factory.js"></script>
    <script src="shared/otusjs/model/question/numeric-question-factory.js"></script>
    <script src="shared/otusjs/model/question/question-factory.js"></script>
    <script src="shared/otusjs/model/question/single-selection-question-factory.js"></script>
    <script src="shared/otusjs/model/question/text-question-factory.js"></script>
    <script src="shared/otusjs/model/question/time-question-factory.js"></script>

    <!-- app.shared.otusjs.model.setter -->
    <script src="shared/otusjs/model/setter/label-factory.js"></script>
    <script src="shared/otusjs/model/setter/unit-factory.js"></script>

    <!-- app.shared.otusjs.model.structure -->
    <script src="shared/otusjs/model/structure/survey-factory.js"></script>
    <script src="shared/otusjs/model/structure/survey-identity-factory.js"></script>
    <script src="shared/otusjs/model/structure/survey-meta-info-factory.js"></script>

    <!-- MODEL-BUILDER -->
    <script src="shared/otusjs/model-builder/otusjs-model-builder-module.js"></script>

    <!-- MODEL-BUILDER.API -->
    <script src="shared/otusjs/model-builder/api/build-work-factory.js"></script>
    <script src="shared/otusjs/model-builder/api/model-builder-hub-service.js"></script>
    <script src="shared/otusjs/model-builder/api/model-builder-service.js"></script>
    <script src="shared/otusjs/model-builder/api/oid-hash-generator-service.js"></script>

    <!-- MODEL-BUILDER.BUILDER -->
    <script src="shared/otusjs/model-builder/builder/builder-factory.js"></script>
    <script src="shared/otusjs/model-builder/builder/builder-map-service.js"></script>
    <script src="shared/otusjs/model-builder/builder/builder-selector-service.js"></script>

    <!-- MODEL-BUILDER.BUILDER.IMPLEMENTATION -->
    <script src="shared/otusjs/model-builder/builder/implementation/answer-option-builder-service.js"></script>
    <script src="shared/otusjs/model-builder/builder/implementation/identity-builder-service.js"></script>
    <script src="shared/otusjs/model-builder/builder/implementation/label-builder-service.js"></script>
    <script src="shared/otusjs/model-builder/builder/implementation/metadata-builder-service.js"></script>
    <script src="shared/otusjs/model-builder/builder/implementation/question-builder-service.js"></script>
    <script src="shared/otusjs/model-builder/builder/implementation/question-navigation-factory.js"></script>
    <script src="shared/otusjs/model-builder/builder/implementation/unit-builder-service.js"></script>


    <script src="app.js"></script>

    <!-- assets -->
    <link href="assets/styles.css" rel="stylesheet"/>

    <!-- app.config -->
    <script src="config/dependencies-configuration.js"></script>
    <script src="config/locale-configuration.js"></script>
    <script src="config/state-configuration.js"></script>
    <script src="config/theme-configuration.js"></script>


    <!-- ************************************** Studio Dashboard ************************************** -->
    <script src="private/dashboard/dashboard-module.js"></script>

    <!-- API -->
    <script src="private/dashboard/api/dashboard-state-service.js"></script>

    <!-- DIALOG -->
    <script src="private/dashboard/dialog/logout/logout-dialog-service.js"></script>

    <!-- HOME -->
    <script src="private/dashboard/home/home-controller.js"></script>

    <!-- MENU -->
    <script src="private/dashboard/menu/dashboard-menu-controller.js"></script>

    <!-- SURVEY-FORM -->
    <script src="private/dashboard/survey-form/survey-form-dashboard-controller.js"></script>

    <!-- SURVEY-FORM.DIALOG-NEW-SURVYE-FORM -->
    <script src="private/dashboard/survey-form/dialog/new-survey-form/new-survey-form-dialog-service.js"></script>


    <!-- ************************************** Studio Editor ************************************** -->
    <script src="private/editor/editor-module.js"></script>

    <!-- API -->
    <script src="private/editor/api/survey-editor-service.js"></script>


    <!-- ************************************** Studio Editor Core ************************************** -->
    <script src="private/editor/core/editor-core-module.js"></script>

    <!-- API -->
    <script src="private/editor/core/api/editor-engine-service.js"></script>

    <!-- DOM-PARSER -->
    <script src="private/editor/core/dom-parser/div-editable-parser-service.js"></script>
    <script src="private/editor/core/dom-parser/dom-parser-service.js"></script>
    <script src="private/editor/core/dom-parser/input-text-parser-service.js"></script>

    <!-- editing-source -->
    <script src="private/editor/core/editing-source/editing-source-controller.js"></script>
    <script src="private/editor/core/editing-source/editing-source-directive.js"></script>
    <script src="private/editor/core/editing-source/editing-source-factory.js"></script>
    <script src="private/editor/core/editing-source/editing-source-service.js"></script>

    <!-- EVENT -->
    <script src="private/editor/core/event/event-factory.js"></script>
    <script src="private/editor/core/event/event-service.js"></script>
    <script src="private/editor/core/event/event-type-factory.js"></script>
    <!-- EVENT.IMPLEMENTATION -->
    <script src="private/editor/core/event/implementation/add-data-event-factory.js"></script>
    <script src="private/editor/core/event/implementation/remove-data-event-factory.js"></script>
    <script src="private/editor/core/event/implementation/select-data-event-factory.js"></script>
    <script src="private/editor/core/event/implementation/touch-data-event-factory.js"></script>
    <script src="private/editor/core/event/implementation/untouch-data-event-factory.js"></script>
    <script src="private/editor/core/event/implementation/update-data-event-factory.js"></script>

    <!-- STATE -->
    <script src="private/editor/core/state/state-factory.js"></script>

    <!-- TRIGGER -->
    <script src="private/editor/core/trigger/trigger-factory.js"></script>
    <script src="private/editor/core/trigger/trigger-initializer-factory.js"></script>
    <script src="private/editor/core/trigger/trigger-map.js"></script>
    <script src="private/editor/core/trigger/trigger-register-service.js"></script>
    <script src="private/editor/core/trigger/trigger-service.js"></script>

    <!-- TRIGGER.HTML -->
    <script src="private/editor/core/trigger/html/html-trigger-map.js"></script>
    <!-- TRIGGER.HTML.IMPLEMENTATION -->
    <script src="private/editor/core/trigger/html/implementation/add-button-trigger-service.js"></script>
    <script src="private/editor/core/trigger/html/implementation/div-editable-trigger-service.js"></script>
    <script src="private/editor/core/trigger/html/implementation/input-text-trigger-service.js"></script>
    <script src="private/editor/core/trigger/html/implementation/remove-button-trigger-service.js"></script>
    <script src="private/editor/core/trigger/html/implementation/update-button-trigger-service.js"></script>

    <!-- TRIGGER.QUESTION -->
    <script src="private/editor/core/trigger/question/question-trigger-map.js"></script>
    <!-- TRIGGER.QUESTION.IMPLEMENTATION -->
    <script src="private/editor/core/trigger/question/implementation/question-editor-trigger-service.js"></script>


    <!-- ************************************** Studio Editor Database ************************************** -->
    <script src="private/editor/database/editor-database-module.js"></script>

    <!-- CROSS-SESSION -->
    <script src="private/editor/database/cross-session/cross-session-database-service.js"></script>

    <!-- IN-SESSION -->
    <script src="private/editor/database/in-session/in-session-database-factory.js"></script>


    <!-- ************************************** Studio Editor UI ************************************** -->
    <script src="private/editor/ui/editor-ui-module.js"></script>

    <!-- API -->
    <script src="private/editor/ui/api/mpath-service.js"></script>
    <script src="private/editor/ui/api/ui-data-selector-service.js"></script>
    <script src="private/editor/ui/api/ui-update-command-factory.js"></script>
    <script src="private/editor/ui/api/ui-utils-service.js"></script>

    <!-- CORE.SURVEY-PAGE -->
    <script src="private/editor/ui/core/survey-page/survey-page-content-service.js"></script>
    <script src="private/editor/ui/core/survey-page/survey-page-controller.js"></script>
    <script src="private/editor/ui/core/survey-page/survey-page-directive.js"></script>

    <!-- CORE.TEMPLATE -->
    <script src="private/editor/ui/core/template/template-loader-service.js"></script>

    <!-- WIDGET.API -->
    <script src="private/editor/ui/core/widget/api/widget-service.js"></script>
    <script src="private/editor/ui/core/widget/api/widget-template-service.js"></script>

    <!-- WIDGET.QUESTION -->
    <script src="private/editor/ui/core/widget/question/question-widget-factory.js"></script>

    <!-- WIDGET.QUESTION.CALENDAR -->
    <script src="private/editor/ui/core/widget/question/calendar/calendar-directive.js"></script>
    <script src="private/editor/ui/core/widget/question/calendar/calendar-question-widget-factory.js"></script>

    <!-- WIDGET.QUESTION.NUMERIC -->
    <script src="private/editor/ui/core/widget/question/numeric/numeric-directive.js"></script>
    <script src="private/editor/ui/core/widget/question/numeric/numeric-question-widget-factory.js"></script>

    <!-- WIDGET.QUESTION.SINGLE-SELECTION -->
    <script src="private/editor/ui/core/widget/question/single-selection/answer-option-widget-factory.js"></script>
    <script src="private/editor/ui/core/widget/question/single-selection/answer-option-content-service.js"></script>
    <script src="private/editor/ui/core/widget/question/single-selection/single-selection-controller.js"></script>
    <script src="private/editor/ui/core/widget/question/single-selection/single-selection-directive.js"></script>
    <script src="private/editor/ui/core/widget/question/single-selection/single-selection-question-widget-factory.js"></script>

    <!--WIDGET.QUESTION.TEXT -->
    <script src="private/editor/ui/core/widget/question/text/text-directive.js"></script>
    <script src="private/editor/ui/core/widget/question/text/text-question-widget-factory.js"></script>

    <!-- WIDGET.QUESTION.TIME -->
    <script src="private/editor/ui/core/widget/question/time/time-question-directive.js"></script>
    <script src="private/editor/ui/core/widget/question/time/time-question-widget-factory.js"></script>

    <!-- WIDGET.QUESTION-EDITOR -->
    <script src="private/editor/ui/core/widget/question-editor/question-editor-widget-factory.js"></script>

    <!-- DATA-TOOL -->
    <script src="private/editor/ui/data-tool/data-tool-content-service.js"></script>
    <script src="private/editor/ui/data-tool/data-tool-controller.js"></script>
    <script src="private/editor/ui/data-tool/data-tool-directive.js"></script>

    <!-- MAIN -->
    <script src="private/editor/ui/main/editor-toolbar-controller.js"></script>
    <script src="private/editor/ui/main/main-container-content-service.js"></script>
    <script src="private/editor/ui/main/main-container-controller.js"></script>

    <!-- QUESTION-DATA-EDITOR -->
    <script src="private/editor/ui/question-data-editor/question-data-editor-content-service.js"></script>
    <script src="private/editor/ui/question-data-editor/question-data-editor-controller.js"></script>
    <script src="private/editor/ui/question-data-editor/question-data-editor-directive.js"></script>

    <!-- QUESTION-PALETTE -->
    <script src="private/editor/ui/question-palette/question-palette-controller.js"></script>

    <!-- SURVEY-DATA-EDITOR -->
    <script src="private/editor/ui/survey-data-editor/survey-properties-controller.js"></script>


    <!-- ************************************** Studio Editor Workspace ************************************** -->
    <script src="private/editor/workspace/editor-workspace-module.js"></script>

    <!-- API -->
    <script src="private/editor/workspace/api/survey-loader-service.js"></script>
    <script src="private/editor/workspace/api/workspace-factory.js"></script>
    <script src="private/editor/workspace/api/workspace-service.js"></script>

    <!-- PROJECT -->
    <script src="private/editor/workspace/project/survey-project-factory.js"></script>


    <!-- ************************************** Studio Preview ************************************** -->
    <!-- app.private.survey-preview.ui.preview -->
    <script src="private/survey-preview/preview-module.js"></script>
    <script src="private/survey-preview/preview-controller.js"></script>
</html>
