<md-card md-theme-watch>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Informações auxiliares</span>
      <span class="md-subhead">Adição de informações auxiliares apresentadas durante o preenchimento</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-card md-theme-watch>
      <md-card-content>
        <div layout="column">
          <div layout="row" layout-align="end center">
            <md-button class="md-icon-button md-primary" ng-click="$ctrl.updateSurveyGroups()">
              <md-tooltip md-direction="left">
                Atualizar grupos
              </md-tooltip>
              <md-icon md-font-set="material-icons" style="color:green">check</md-icon>
            </md-button>
          </div>
          <div layout="column">
            <div layout="column">
              <md-checkbox name="currentWave" ng-model="$ctrl.newVariable.currentWave" required>
                Variável pertence a onda atual
              </md-checkbox>
              <md-autocomplete flex="25" ng-if="!$ctrl.isCurrentWave()" ng-class="$ctrl.autoCompleteClass"
                md-selected-item="$ctrl.selectedParticipant" md-selected-item-change="$ctrl.selectParticipant($ctrl.selectedParticipant)"
                md-search-text="$ctrl.inputedText" md-items="participant in $ctrl.querySearch($ctrl.inputedText)"
                md-min-length="1" placeholder="Informe a onda correspondente" md-menu-class="autocomplete-custom-participant-template"
                action="$ctrl.showParticipants">
              </md-autocomplete>
            </div>
          </div>
          <div class="md-padding"></div>
          <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
            <md-autocomplete flex ng-disabled="$ctrl.disabled" ng-class="$ctrl.autoCompleteClass" md-selected-item="$ctrl.selectedParticipant"
              md-selected-item-change="$ctrl.selectParticipant($ctrl.selectedParticipant)" md-search-text="$ctrl.inputedText"
              md-items="participant in $ctrl.querySearch($ctrl.inputedText)" md-min-length="1" placeholder="Nome da variável"
              md-menu-class="autocomplete-custom-participant-template" action="$ctrl.showParticipants">
            </md-autocomplete>
            <div class="md-padding"></div>
            <md-autocomplete flex ng-disabled="$ctrl.disabled" ng-class="$ctrl.autoCompleteClass" md-selected-item="$ctrl.selectedParticipant"
              md-selected-item-change="$ctrl.selectParticipant($ctrl.selectedParticipant)" md-search-text="$ctrl.inputedText"
              md-items="participant in $ctrl.querySearch($ctrl.inputedText)" md-min-length="1" placeholder="Valor da variável"
              md-menu-class="autocomplete-custom-participant-template" action="$ctrl.showParticipants">
            </md-autocomplete>
            <div class="md-padding"></div>
            <md-autocomplete flex ng-disabled="$ctrl.disabled" ng-class="$ctrl.autoCompleteClass" md-selected-item="$ctrl.selectedParticipant"
              md-selected-item-change="$ctrl.selectParticipant($ctrl.selectedParticipant)" md-search-text="$ctrl.inputedText"
              md-items="participant in $ctrl.querySearch($ctrl.inputedText)" md-min-length="1" placeholder="Apresentação"
              md-menu-class="autocomplete-custom-participant-template" action="$ctrl.showParticipants">
            </md-autocomplete>
          </section>
        </div>
      </md-card-content>
    </md-card>
  </md-card-content>
  <md-card-title>
    <md-card-title-text>
      <span class="md-subhead">Informações auxiliares sendo utilizadas no momento</span>
    </md-card-title-text>
  </md-card-title>
</md-card>