<md-button id=createGroup_{{$ctrl.item.templateID}}
           ng-if="$ctrl.stateItemGroup == 'createGroup'"
           ng-click="$ctrl.editorSurveyItemGroup()"
           class="md-primary md-fab md-mini questionPositionChip">
  <md-icon style="font-size:30px;height:30px;width:30px;color:#FFFFFF;"
           class="md-default-theme material-icons">playlist_add
  </md-icon>
</md-button>


<md-button id=editorGroup_{{$ctrl.item.templateID}}
           ng-if='$ctrl.stateItemGroup == "editorGroup"'
           ng-click="$ctrl.editorSurveyItemGroup()"
           class="md-primary md-fab md-mini questionPositionChip">
  <md-icon style="font-size:30px;height:30px;width:30px;color:#FFFFFF;"
           class="md-default-theme material-icons">library_add
  </md-icon>
</md-button>

<md-checkbox id=validateGroup_{{$ctrl.item.templateID}}
             ng-if='$ctrl.stateItemGroup == "validateGroup"'
             style="height:50px;width:70px;margin-left:22px;color:#FFFFFF";
             value="{{option.customOptionID}}">
</md-checkbox>

<md-button id=invalidateGroup_{{$ctrl.item.templateID}}
           ng-if='$ctrl.stateItemGroup == "invalidateGroup"'
           ng-click="$ctrl.editorSurveyItemGroup()"
           class="md-primary md-fab md-mini questionPositionChip">
  <md-icon style="font-size:30px;height:30px;width:30px;color:#FFFFFF;"
           class="md-default-theme material-icons">warning
  </md-icon>
</md-button>

<!--           ng-disabled="$ctrl.group"-->

