<div flex ng-controller="QuestionNavigationController as questionNavigationController">
    <div flex>

        <div id="navigations" ng-repeat="navigation in questionNavigationController.navigations"
        layout-margin layout-padding flex>
            <div flex>
                <div layout="row" flex>
                    <md-input-container>
                        <label>Nome</label>
                        <md-icon class="material-icons">low_priority</md-icon>
                        <input ng-model="navigation.name" aria-label="Name"></input>
                    </md-input-container>

                    <span></span>

                    <md-input-container>
                        <label>Destino</label>
                        <input ng-model="navigation.destination" aria-label="Destino">
                        </input>
                    </md-input-container>
                </div>

                <div layout="column" flex>
                    <div id="conditions" ng-repeat="condition in navigation.conditionSet" layout="row"
                    layout-align="center center" flex>
                        <md-input-container layout="row">
                            <label>Quando</label>
                            <input aria-label="Expressão" ng-model="condition.when">
                        </md-input-container>

                        <span></span>

                        <md-input-container layout="row">
                            <label>Resposta</label>
                            <input aria-label="Valor" ng-model="condition.answer">
                        </md-input-container>

                        <md-button>
                            <md-icon aria-label="Remover Condição" class="material-icons">close
                                <md-tooltip md-direction="bottom">
                                    Remover
                                </md-tooltip>
                            </md-icon>
                        </md-button>
                    </div>
                    <div id="add-conditions" layout="row" layout-align="center center" flex>
                        <md-input-container layout="row">
                            <label>Quanto</label>
                            <input aria-label="Expressão">
                        </md-input-container>

                        <span></span>

                        <md-input-container layout="row">
                            <label>Resposta</label>
                            <input aria-label="Valor">
                        </md-input-container>

                        <md-button>
                            <md-icon class="material-icons">save
                                <md-tooltip md-direction="bottom">
                                    Salvar
                                </md-tooltip>
                            </md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div layout="row" layout-margin flex>
        <md-input-container layout="row">
            <label>Nome</label>
            <md-icon class="material-icons">low_priority</md-icon>
            <input editing-source
                es-processor="survey-navigation-save"
                es-type="pre-input-text"
                es-id="survey-navigation-name"
                es-target="survey-navigation-name"
                aria-label="Name">
            </input>
        </md-input-container>

        <md-input-container layout="row">
            <label>Destino</label>
            <input editing-source
                es-processor="survey-navigation-save"
                es-type="pre-input-text"
                es-id="survey-navigation-to"
                es-target="survey-navigation-to"
                aria-label="Destino">
            </input>
        </md-input-container>

        <md-button editing-source
            es-type="pre-add-button"
            es-id="survey-navigation-save"
            es-target="survey.navigations">
            <md-icon class="material-icons">save
                <md-tooltip md-direction="bottom">
                    Salvar
                </md-tooltip>
            </md-icon>
        </md-button>
    </div>
</div>
