<md-content layout="row" layout-align-gt-md="center center" flex=100>
    <md-input-container flex-gt-md=50 flex=90>
      <md-icon md-font-set="material-icons"> search </md-icon>
        <input aria-label="search" ng-model="search" ng-model-options="{ debounce: 150 }" placeholder="Buscar Templates" type="text"></input>
    </md-input-container>
</md-content>
<survey-template ng-repeat="template in filteredTemplate = ($ctrl.getSurveyTemplatesList() | filter:search)" survey-template="template"></survey-template>
