<md-content layout="row" layout-align-gt-md="center center" flex=100 layout-padding="">
  <md-input-container flex-gt-md="50" flex="90" class="md-icon-left">
      <md-icon md-font-set="material-icons"> search </md-icon>
    <label>Buscar Templates</label>

    <input aria-label="search" ng-model="search" ng-model-options="{ debounce: 150 }" type="text" flex>
    </md-input-container>
</md-content>
<div layout="row" layout-xs="column" layout-wrap="" layout-padding="" style="margin-bottom: 60px" flex="100">
  <survey-template ng-repeat="template in filteredTemplate = ($ctrl.getSurveyTemplatesList() | filter:search)" survey-template="template" flex-xs flex-gt-sm="33" flex-gt-md="25" flex-gt-lg="20"></survey-template>
</div>

