<md-content flex>
    <div layout="row" layout-margin flex>
        <otus:input-text
            label="Nome"
            aria-label="Nome"
            left-icon="low_priority"
            ng-model="widget.name.value"
            es-processor="{{widget.name.processorGuid}}"></otus:input-text>

        <otus:input-text
            label="Destino"
            aria-label="Destino"
            ng-model="widget.destination.value"
            es-processor="{{widget.destination.processorGuid}}"></otus:input-text>

        <md-button editing-source
            es-widget="{{widget.type}}"
            es-guid="{{widget.processor.guid}}"
            es-type="{{widget.processor.type}}"
            es-target="{{widget.processor.target}}">
            <md-icon class="material-icons">save
                <md-tooltip md-direction="bottom">Salvar</md-tooltip>
            </md-icon>
        </md-button>
    </div>
</md-content>
