.question-editor-container {
    width: 100%;
    min-height: 230px;
    border: 1px dotted gray;
    padding: 10px;
}

.editable {
    border-bottom: 1px dotted gray;
    color: gray;
    font-style: italic;
    font-size: 20pt;
}

md-tabs[md-border-bottom] md-tabs-wrapper {
    border-style: none;
}