#editor-container {
    background: none;
}

.question-editor-container {
    padding-top: 20px;
}

.filling-mode-selector {
    margin-top: 30px;
}

.editable {
    border-bottom: 1px dotted gray;
    color: gray;
    font-style: italic;
    font-size: 20pt;
}
