#editor-container {
    background: none;
}

.filling-mode-selector {}

.editable {
    border-bottom: 1px dotted gray;
    color: gray;
    font-style: italic;
    font-size: 20pt;
}

[preview-mode] {
    border: none;
}

[edit-mode] {
    border: 1px dashed #FFFFFF;
    /*background-color: #fffae9;
    border: 1px dashed #D0D0D0;
    cursor: pointer*/
}

[edit-mode]:hover {
    background-color: #fffae9;
    border: 1px dashed #D0D0D0;
    cursor: pointer
}

ui-accordion-header {
    border-bottom: 1px solid #E0E0E0;
}

ui-accordion-header button {
    margin-top: 9px !important;
}

.question-whiteframe {
    margin-top: 5px
}
