<!DOCTYPE html>
<html lang="en" ng-app="register.user">

<head>
    <base href="/studio/app/"/>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="assets/img/coruja_construtora.png" rel="icon"/>
    <title>Cadastro de Usuários</title>

    <link href="shared/angular-material/angular-material.min.css" rel="stylesheet">
    <link href="public/user/register/user/register-user.css" rel="stylesheet"/>
    <link href="assets/img/coruja_construtora.png" rel="icon"/>
</head>

<body md-theme="layoutTheme">
<img src="assets/img/coruja_construtora.png" id="logo"/>

<h1>Otus Studio</h1>

<div id="center">
    <div ng-controller="RegisterUserCtrl as ctrl" layout="column">
        <md-content layout-padding class="autoScroll">
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>Cadastro de usuários</span>
                </h2>
            </md-toolbar>
            <br/>

            <form name="registerUserForm" novalidate>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Nome</label>
                        <input name="name" ng-model="user.name" type="text" ng-required="true"/>

                        <div ng-messages="registerUserForm.name.$error">
                            <div ng-message="required">Obrigatório</div>
                        </div>
                    </md-input-container>

                    <md-input-container flex>
                        <label>Sobrenome</label>
                        <input name="surname" ng-model="user.surname" type="text" ng-required="true"/>

                        <div ng-messages="registerUserForm.surname.$error">
                            <div ng-message="required">Obrigatório</div>
                        </div>
                    </md-input-container>
                </div>

                <md-input-container class="md-block">
                    <label>Celular</label>
                    <input name="phone" id="phonenumber" ng-model="user.phone" type="text"
                           ui-options={clearOnBlur:false} ui-mask="(99) 99999999?9" ng-required="true"/>

                    <div ng-messages="registerUserForm.phone.$error">
                        <div ng-message="required">Obrigatório</div>
                        <div ng-message="mask">Insira um número válido.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>E-mail</label>
                    <input name="email" ng-model="user.email" type="email" unique ng-required="true"/>

                    <div ng-messages="registerUserForm.email.$error">
                        <div ng-message="required">Obrigatório</div>
                        <div ng-message="emailInUse">E-mail já em uso.</div>
                        <div ng-message="email">Insira um e-mail válido.</div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Senha</label>
                    <input name="password" st-password ng-model="user.password" type="password" ng-required="true"/>

                    <div ng-messages="registerUserForm.password.$error">
                        <div ng-message="required" ng-show="registerUserForm.password.$error.required">Obrigatório</div>
                        <div ng-message="minlength" ng-show="registerUserForm.password.$error.minlength">Mínimo 6
                            caracteres
                        </div>
                        <div ng-message="passwordPattern">
                            A senha deve conter caracter minúsculo, um maiúsculo, um digito e de 6 a 32 caracteres.
                        </div>
                    </div>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Confirmação de Senha</label>
                    <input name="passwordConfirm" st-password-match="user.password" ng-model="user.passwordConfirm"
                           type="password" ng-required="true"/>

                    <div ng-messages="registerUserForm.passwordConfirm.$error">
                        <div ng-message="required" ng-show="registerUserForm.passwordConfirm.$error.required">
                            Obrigatório
                        </div>
                        <div ng-message="passwordMatch">Suas senhas não coincidem.</div>
                    </div>
                </md-input-container>

                <md-button class="md-raised md-accent" ng-disabled="registerUserForm.$invalid"
                           ng-click="ctrl.register(user)">Cadastrar
                </md-button>
            </form>
        </md-content>
    </div>
</div>
<footer>
    <p>Copyright© 2015 ELSA Brasil Corporation.</p>
</footer>
</body>

<!-- Angular Material Dependencies -->
<script src="shared/angular/angular.min.js"></script>
<script src="shared/angular-animate/angular-animate.min.js"></script>
<script src="shared/angular-aria/angular-aria.min.js"></script>
<script src="shared/angular-material/angular-material.min.js"></script>
<script src="shared/angular-messages/angular-messages.min.js"></script>
<script src="shared/angular-ui-mask/angular-ui-mask.min.js"></script>

<script src="shared/st-password/st-password-module.js"></script>
<script src="public/user/register/user/register-user.ctrl.js"></script>

</html>
