* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#center {
	width: 55%;
	top: 60%;
	margin: 0 auto;
	background-color: white;
	position: relative;
	border: 2px solid #E6E6E6;
}

#divtop{
	background-color: #448AFF;
	height:35%;
	z-index: 1;

}

#divDown{
	background-color: white;
	height: 60%;

}

.nameStudio{
	text-align: left;
	color: white;
	top: 58%;
    position: relative;
    margin: 0 auto;
}

.nameStudio span {
	margin-left: 23%;
}

h1 {
	margin: 0 auto;
	width: 110px;
	/* height: 150px; */
	display: block;
}

.logo {
    margin: 0 auto;
    height: 45%;
    display: block;
    z-index: 3;
    position: absolute;
    bottom: 68%;
    left: 38%;
    
}

footer {
	background-color: #ECEFF1;
	width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0px;
	text-align: center;
	border-top: 1px solid rgba(0, 0, 0, 0.3);
}

footer p {
	margin-top: 2%;
}


/** This style is to fix float label 'celular'! Do NOT remove**/
label[for="phonenumber"] {
	-webkit-transform: translate3d(0, 6px, 0) scale(.75) !important;
}

.error-message{
    text-align: center;
    /*color: rgb(244,67,54);*/
}

#logo_test {
	content: url(../assets/img/ImageProjectStudio.png);
}

#content {
	margin-top: 10%;
	padding: 10px;
	
}

.md-block {
	width: 60%;
	left: 12%;
	right: 12%
	
}
