<md-list-item style="margin-top:15px" layout-padding="">
  <form name="quantityValidator" layout="row" flex="85">
    <md-input-container class="md-icon-right" flex>
      <label>Quantidade exata:</label>
      <input name="quantity" type="number" min="0" flex="100" aria-label="Quantidade exata" ng-model="widget.data" ng-change="widget.updateData()" required>
      <md-icon ng-click="widget.deleteValidator()">close</md-icon>
      <div ng-messages="quantityValidator.quantity.$error">
        <div ng-message="required">Adicione a quantidade</div>
      </div>
    </md-input-container>
  </form>
</md-list-item>



