<md-list-item layout-padding flex>
    <form name="quantityValidator" flex-gt-xs>
        <md-content layout="column" layout-align="start" flex="80">
            <md-input-container layout="row" layout-align="start center">
                <span class="md-body-1">Quantidade exata:</span>
                <input name="quantity" type="number" min="0" flex="20" flex-offset="5" aria-label="Mínimo de caracteres" ng-model="widget.data" ng-change="widget.updateData()" required>

                <div ng-messages="quantityValidator.quantity.$error">
                    <div ng-message="required">Adicione a quantidade</div>
                </div>
            </md-input-container>
        </md-content>
    </form>
    <md-content layout="column" flex="20" layout-padding layout-align="center end">
        <md-button ng-click="widget.deleteValidator()" class="md-icon-button md-button">
            <i class="material-icons">close</i>
        </md-button>
    </md-content>
</md-list-item>
