<md-dialog md-theme="layoutTheme" aria-label="Dados para novo formulário">
    <form name="newSurveyForm">
        <md-dialog-content>
            <md-toolbar class="md-toolbar-tools">
                <h3 class="md-title">
                    <span>Dados para novo formulário</span>
                </h3>
            </md-toolbar>
            <md-content layout-padding>
                <md-input-container class="md-block">
                    <label>Nome do formulário</label>
                    <input ng-model="newSurveyForm.name" type="text" required />
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Sigla</label>
                    <input class="uppercase-text" ng-model="newSurveyForm.acronym" type="text" required />
                </md-input-container>
                <md-input-container class="md-block">
                    <label>Versão</label>
                    <input class="uppercase-text" ng-model="newSurveyForm.version" type="text" required />
                </md-input-container>
            </md-content>
        </md-dialog-content>
        <md-dialog-actions>
            <md-button ng-click="controller.cancel({ action: 'cancel' })" class="md-raised">Cancelar</md-button>
            <md-button ng-click="controller.createSurveyForm({ action: 'create', data: newSurveyForm })" class="md-raised md-primary"
            ng-disabled="newSurveyForm.$invalid" >Criar formulário</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
