<md-dialog flex flex-gt-sm="60" flex-gt-md="45" flex-gt-lg="35">
  <form ng-cloak flex>
    <md-toolbar class="editor-toolbar md-primary md-layoutTheme-theme">
      <div class="md-toolbar-tools">
        <h2>Grupo de Questões</h2>
        <md-button class="md-icon-button md-hue-2 md-layoutTheme-theme" ng-click="$ctrl.deleteGroup($ctrl.item)"
                   aria-label="deleteGroupButton">
          <md-icon>delete_forever</md-icon>
          <md-tooltip md-direction="top">Excluir Grupo</md-tooltip>

        </md-button>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.cancelGroupEdit()">
          <md-icon>close</md-icon>
          <md-tooltip md-direction="top">Fechar</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content flex="100" id="dialogContent">
      <div class="md-dialog-content md-padding" layout="column" layout-align="start start" layout-wrap flex>

        <h3>Itens:</h3>
        <md-chips ng-model="$ctrl.item" name="item" readonly=true>
          <md-chip-template>
            <strong>{{$chip}}</strong>
          </md-chip-template>
        </md-chips>
      </div>

    </md-dialog-content>
    <md-dialog-actions layout="column" layout-fill>
<!--      <div layout="row" layout-wrap layout-align="end center" flex="100" layout-fill="">-->
<!--        <md-button class="md-warn md-raised md-hue-2 md-layoutTheme-theme" ng-click="$ctrl.deleteGroup($ctrl.item)"-->
<!--                   aria-label="deleteGroupButton">{{$ctrl.deleteGroupButton}}-->
<!--        </md-button>-->
<!--      </div>-->
      <div layout="row" layout-wrap layout-align="end center" flex="100" layout-fill="">
          <md-button class="{{ button.class }}" ng-click="button.action($ctrl.item.templateID)" aria-label="button" ng-repeat="button in $ctrl.buttons"  flex-xs="40">
            <md-icon ng-if="button.icon">{{button.icon}}</md-icon>
            {{button.message}}
          </md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
