<md-dialog flex flex-gt-sm="60" flex-gt-md="45" flex-gt-lg="35">
  <form ng-cloak flex>
    <md-toolbar class="editor-toolbar md-primary md-layoutTheme-theme">
      <div class="md-toolbar-tools">
        <h2>Grupo de Questões</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
          <md-icon>delete</md-icon>
          <md-tooltip md-direction="bottom">Excluir Grupo</md-tooltip>
        </md-button>
        <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
          <md-icon>close</md-icon>
          <md-tooltip md-direction="bottom">Fechar</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content flex="100" id="dialogContent">
      <div class="md-dialog-content md-padding" layout="column" layout-align="start start" layout-wrap flex>
        <div>
          <h3>Confirme se os itens abaixo devem estar no mesmo grupo</h3>
        </div>

        <md-chips ng-model="$ctrl.item" name="item">
          <md-chip-template>
            <strong>{{$chip}}</strong>
          </md-chip-template>
        </md-chips>
      </div>

    </md-dialog-content>
    <md-dialog-actions layout="row">
      <div ng-repeat="button in $ctrl.BUTTONS">
        <md-button class="{{ button.class }}" ng-click="button.action($ctrl.item.templateID)" aria-label="button">
          <md-icon ng-if="button.icon">{{button.icon}}</md-icon>
          {{button.message}}
        </md-button>
        <span flex></span>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
