<md-list-item style="margin-top:15px" layout-padding="">
  <form name="scaleValidator" layout="row" flex="85">
    <md-input-container class="md-icon-right" flex>
      <label>Nr de Casas Decimais:</label>
      <input name="scale" type="number" min="0" flex="100" aria-label="Número de casas decimais" ng-model="widget.data" ng-change="widget.updateData()" required>
      <md-icon ng-click="widget.deleteValidator()">close</md-icon>
      <div ng-messages="scaleValidator.scale.$error">
        <div ng-message="required">Adicione o número de casas decimais</div>
      </div>
    </md-input-container>
  </form>
</md-list-item>
