<div flex id="question-properties" class="properties-frame" ng-controller="QuestionPropertiesController as questionProperties">
    <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">
            <span>Propriedades da questão</span>
        </h2>
    </md-toolbar>
    <md-content class="md-padding properties-frame-body" flex>
        <md-input-container class="md-block">
            <label>Nome</label>
            <input name="questionOID" type="text"
                ng-model="questionProperties.selectedQuestion.oid"
                editing-source
                es-type="input-text"
                es-id="question-properties-oid"
                es-target="survey.question.{{questionProperties.selectedQuestion.oid}}.oid"/>
        </md-input-container>
        <md-input-container class="md-block">
            <label>Label</label>
            <input name="questionLabel" type="text"
                ng-model="questionProperties.selectedQuestion.label.ptBR.plainText"
                editing-source
                es-type="input-text"
                es-id="question-properties-label"
                es-target="survey.question.{{questionProperties.selectedQuestion.oid}}.label"/>
        </md-input-container>
    </md-content>
</div>
<md-divider></md-divider>
