<div ng-controller="HomeCtrl">
	<div ng-show="!doesNotHasRepository()">
		<div layout="column" >
			<md-toolbar class="md-toolbar-tools md-primary">
				<h2 class="md-flex">Inicialização do Repositório</h2>
			</md-toolbar>
			<br>
			<br>
			<md-content flex layout-padding>
					<div layout="column" layout-align="center center" ng-show=isAdmin(loggedUser)>
							<p class="md-subhead">Olá, <strong>{{loggedUser.name}}</strong><label type="text" ng-model="loggedUser.name"/> você não possui nenhum repositório.<br>
							Para começar a utilizar o sistema você precisa de pelo menos um repositório.<md-button class="md-primary">Saiba mais.</md-button><br>
							Para criar um repositório: <strong>Repositórios</strong> > <strong>Novo</strong>.</p>						
					</div>
					<div layout="column" layout-align="center center" ng-show=isNotAdmin(loggedUser)>
							<p class="md-subhead">Olá, <strong>{{loggedUser.name}}</strong><label type="text" ng-model="loggedUser.name"/> você não possui nenhum repositório.<br>
							Para começar a utilizar o sistema você precisa de pelo menos um repositório.<md-button class="md-primary">Saiba mais.</md-button><br>
							Conecte um repositório ou contate o administrador do sistema.</p>						
					</div>
			</md-content>
		</div>
	</div>
</div>

