* {
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-y: hidden !important;
}

.image-user-div {
	border-radius: 35px;
	float: right;
	width: 46px;
	margin-right: 10px;
}

.image-user-div img {
	cursor: pointer;
	height: inherit;
	width: inherit;
	border-radius: inherit;
	height: inherit;
}

.icon-white {
    color: white!important;
}

md-input-container.md-input-invalid>md-icon {
	color: red;
}

#center, #center>div {
	height: 100%
}