body {
	overflow-y: hidden !important;
}

.image-user-div {
	border-radius: 35px;
	float: right;
	width: 46px;
	margin-right: 10px;
}

.image-user-div img {
	cursor: pointer;
	height: inherit;
	width: inherit;
	border-radius: inherit;
	height: inherit;
}

.toolbar-alig {
	margin-top: 10px !important;
}

.layout-row{
	background-color: #333333;
}


.md-open-menu-container {
	    margin-top: 56px;
	    width: 135px;
}

md-toolbar {
    margin-bottom : 30px;
}