* {
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow-y: hidden !important;
}

.image-user-div {
	border-radius: 35px;
	float: right;
	width: 46px;
	margin-right: 10px;
}

.image-user-div img {
	cursor: pointer;
	height: inherit;
	width: inherit;
	border-radius: inherit;
	height: inherit;
}

#toolbar-system md-toolbar {
	padding-top : 7px;
}
