<md-list-item style="margin-top:15px" layout-padding="">
  <form name="inValidator" layout="row" flex>
    <!--        <md-content layout="row" flex="100" layout-align="start start">-->
    <!--            <div layout="row" layout-align="start center" flex="100">-->
    <md-input-container flex="40">
      <label>Valores de:</label>

      <input name="inFirst" type="number" min="0" step="any" flex="100" aria-label="Insira o primeiro valor"
             ng-change="widget.updateData()" ng-model="widget.data.initial" required/>
      <div ng-messages="inValidator.inFirst.$error">
        <div ng-message="required">Adicione um valor</div>
      </div>
    </md-input-container>
    <span flex="5"></span>
    <md-input-container flex="30">
      <label>Até:</label>
      <input name="inSecond" type="number" min="0" step="any" flex="100" aria-label="Insira o segundo valor"
             ng-change="widget.updateData()" ng-model="widget.data.end" required/>


      <div ng-messages="inValidator.inSecond.$error">
        <div ng-message="required">Adicione um valor</div>
      </div>
    </md-input-container>
    <md-button ng-click="widget.deleteValidator()" flex="15" class="md-icon-button md-button">
      <i class="material-icons">close</i>
    </md-button>
  </form>
</md-list-item>

