<div id="survey-questions" layout="column">
    <md-button class="md-raised md-primary">Questões</md-button>
    <div ng-show="true" layout="column">
        <otus:add-button class="md-primary md-layoutTheme-theme md-ink-ripple" label="Calendário" layout="column" ng-model="CalendarQuestion"></otus:add-button>
        <otus:add-button class="md-primary md-layoutTheme-theme md-ink-ripple" label="Número Inteiro" layout="column" ng-model="IntegerQuestion"></otus:add-button>
        <otus:add-button class="md-primary md-layoutTheme-theme md-ink-ripple" label="Seleção simples" layout="column" ng-model="SingleSelectionQuestion"></otus:add-button>
        <otus:add-button class="md-primary md-layoutTheme-theme md-ink-ripple" label="Texto" layout="column" ng-model="TextQuestion"></otus:add-button>
        <otus:add-button class="md-primary md-layoutTheme-theme md-ink-ripple" label="Relógio" layout="column" ng-model="TimeQuestion"></otus:add-button>
    </div>
</div>
