<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<link href="resources/css/login-adm.css" rel="stylesheet" />
	<link href="resources/img/owl.png" rel="icon"/>
	<link href="resources/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<title>Cadastro de Administrador</title>
</head>
<body ng-controller="LoginAdm">
	<img src="resources/img/owl.png" id="logo"/>
	<h1 class="text-center">Cadastro de Administrador</h1>
	<div class="container">	
		<div class="panel-default col-lg-6 col-md-offset-3">
			<form>
				<div class="form-group">
					<input type="text" class="form-control" id="text-login" ng-model="text" placeholder="Nome" required />
				</div>
				<div class="form-group">
					<input type="text" class="form-control" id="text-login" ng-model="text" placeholder="Sobrenome"/>
				</div>
				<div class="form-group">
					<input type="email" class="form-control" id="email-login" ng-model="email" placeholder="email@exemplo.com.br" />
				</div>
				<div class="form-group">
					<input type="tel" class="form-control" id="text-login" ng-model="number" placeholder="Telefone"/>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="password-login" ng-model="password" placeholder="Senha"/>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" id="password-login"	ng-model="password" placeholder="Confirmação de Senha"/> 
				</div>
				<button type="submit" class="btn btn-primary" ng-click="login()">Cadastrar</button>
			</form>
		</div>
	</div>
	<footer> 
		<label>Copyright © 2015 ELSA Brasil Corporation.</label> 
	</footer>

	<script src="resources/jquery/jquery-2.1.4.min.js"></script>
	<script src="resources/bootstrap-3.3.5/js/bootstrap.min.js"></script>
</body>
</html>