.numeric-question .edit {
	display: none;
	font-size: 14px;
	width: 30%;
	padding-bottom: 10px;
}

.numeric-question .answer-input {
	float: left;
	width: 100px;
}

.numeric-question .unit-edit {
	float: left;
	display: none;
	width: 100px;
}

.numeric-question .unit-watermark {
	display: block;
	padding-bottom: 10px;
	float: left;
	width: 100px;
}

.label-container {
	min-height: 25px;
	
}