<div layout="row" flex style="margin-top: 10px"></div>

<div class="lock-size" layout="row" layout-align="right center">
  <md-button aria-label="Editar rotas de navegação" ng-class="$ctrl.toolsCtrl.AddRouteButtonClass" ng-click="$ctrl.toolsCtrl.addRoute()">
    <md-icon md-svg-icon="routes" aria-label="Priorizar rotas de navegação"></md-icon>
    <md-tooltip md-direction="top">
      Editar rotas de navegação
    </md-tooltip>
  </md-button>
  <md-button aria-label="Priorizar rotas de navegação" ng-class="$ctrl.toolsCtrl.modificationButtonClass" ng-click="$ctrl.toolsCtrl.editRoutePriority()">
    <md-icon md-svg-icon="shuffle" aria-label="Priorizar rotas de navegação"></md-icon>
    <md-tooltip md-direction="top">
      Priorizar rotas de navegação
    </md-tooltip>
  </md-button>
  <md-button aria-label="Visualizar navegação" ng-class="$ctrl.toolsCtrl.InspectButtonClass" ng-click="$ctrl.toolsCtrl.inspect()">
    <md-icon md-svg-icon="information" aria-label="Visualizar navegação"></md-icon>
    <md-tooltip md-direction="top">
      Visualizar navegação
    </md-tooltip>
  </md-button>
</div>
<div id="map-view" style="width: 100%; height: 100%"></div>
<otus-messenger-instructor layout="row" flex style="position: absolute; top: 0; right: 0"></otus-messenger-instructor>
