<md-button ng-if="$ctrl.type == 'button'" id={{$ctrl.id}}
           class="md-raised md-fab md-mini"
           ng-click="$ctrl.click()">
  <md-icon style="font-size:30px;height:30px;width:30px;color:#737373; margin-left:-2px"
           class="md-default-theme material-icons">{{$ctrl.iconButton}}
  </md-icon>
</md-button>

<md-checkbox ng-if="$ctrl.type == 'checkbox'"
             id=validateGroup_{{$ctrl.id}}
             style="font-size:30px;height:20px;width:40px;color:#737373; margin-left:16px; margin-top:13px;"
             aria-label="ItemCandidateCheckBox"
             class="md-raised"
             ng-model="$ctrl.itemCandidateCheckbox"
             ng-value="$ctrl.itemCandidateCheckbox">
</md-checkbox>


<!--<md-tooltip md-direction="{{::$ctrl.template.tooltipDirection}}">-->
<!--  {{::$ctrl.template.tooltip}}-->
<!--</md-tooltip>-->
