<style>
  md-checkbox.md-checked.color .md-icon {
    background-color: #737373;
  }
</style>


<md-button ng-if="$ctrl.type == 'button'" id="{{$ctrl.id}}"
           class="md-mini md-icon-button"
           ng-click="$ctrl.click()">
  <md-icon ng-style="{color:$ctrl.stateColor}"
           class="md-default-theme material-icons">{{$ctrl.iconButton}}
  </md-icon>
  <md-tooltip md-direction="right">{{::$ctrl.tooltip}}</md-tooltip>
</md-button>

<md-checkbox ng-if="$ctrl.type == 'checkbox'"
             id="validate{{$ctrl.id}}"
             class="color"
             style="margin-top:16px; margin-left:15.5px; margin-right:7px;"
             aria-label="ItemCandidateCheckBox"
             ng-model="$ctrl.itemCandidateCheckbox"
             ng-change="$ctrl.monitoringCheckboxState()">
</md-checkbox>




