.palette {
    border-right: 1px solid #E1E1E1;
    background-color: #FFFFFF;
}

.stage {
    margin: 0 1px 0px;
    padding-top: 0px !important;
    background-color: #F9F9F9 !important;
}

.resource {
    border-left: 1px solid #E1E1E1;
    background-color: #FFFFFF;
}

.boxWithHeight {
    box-sizing: border-box;
    height: 100%;
}
