<md-button ng-click="dashboardMenu.open()">
    <md-icon md-svg-icon="menu" aria-label="Menu"></md-icon>
    Otus Studio
</md-button>
<md-list>
    <md-list-item class="md-1-line">
        <md-button id="home-menu" ng-click="dashboardMenu.openHome()">
            <md-icon md-svg-icon="home" aria-label="Home"></md-icon>
            Home
        </md-button>
    </md-list-item>
    <md-list-item class="md-1-line">
        <md-button id="surveyforms-menu" ng-click="dashboardMenu.openFormTemplates()">
            <md-icon md-svg-icon="file-document-box" aria-label="Formulários"></md-icon>
            Templates
        </md-button>
    </md-list-item>
    <md-list-item class="md-1-line">
        <md-button aria-label="Logout" ng-click="dashboardMenu.logout()">
            <md-icon md-svg-icon="exit-to-app" aria-label="Logout"></md-icon>
            Logout
        </md-button>
    </md-list-item>
</md-list>
