<md-input-container>
    <label>Senha</label>
    <input name="dPassword" ng-model="directive.password" type="password" maxlength="32" ng-minlength="6" ng-pattern="/(?=.*\d)(?=.*[a-z])(?=.*[A-Z])/" required />
    <div ng-messages="{{form}}.dPassword.$error">
        <div ng-message="required">Obrigatório</div>
        <div ng-message="minlength">Mínimo 6 caracteres</div>
        <div ng-message="pattern">
            <br />Deve conter pelo menos um caracter minúsculo, um maiúsculo e um dígito</div>
    </div>
</md-input-container>
<md-input-container>
    <label>Confirmação de Senha</label>
    <input name="dPasswordConfirm" ng-model="directive.passwordConfirm" type="password" required />
    <div ng-messages="dPasswordConfirm.$error">
        <div ng-message="required">Obrigatório</div>
        <div ng-message ng-show="(user.passwordConfirm != user.password) && (user.passwordConfirm && user.password)">Suas senhas não coincidem.</div>
    </div>
</md-input-container>
