<md-list-item layout-padding layout-align="space-around">
    <md-content layout="column" flex="90">
        <div layout="row" layout-align="start center">
            <span class="md-body-1" flex>Intervalo permitido: </span>
          <md-button ng-click="widget.deleteValidator()" class="md-icon-button md-mini" flex="20">
            <i class="material-icons">close</i>
          </md-button>
        </div>
        <md-content layout="row" layout-align="start center" layout-wrap="" flex="100">
            <md-datepicker ng-model="widget.data.initial.date" md-placeholder="Data mínima" md-min-date="minDate" ng-blur="widget.updateData()" flex-xs="100"></md-datepicker>
            <md-datepicker ng-model="widget.data.end.date" md-placeholder="Data máxima" md-max-date="maxDate" ng-blur="widget.updateData()" flex-xs="100"></md-datepicker>

        </md-content>
    </md-content>
</md-list-item>
