<md-whiteframe id={{::$ctrl.getQuestionId()}} class="custom-whiteframe" layout="column" tabindex="-1">
  <item-container>
    <item-container-header flex>

      <md-content layout="row" layout-align="center center" flex>
        <md-card class="item-id-frame" layout-padding layout-align="center center">
          <otus:item-icon item="{{$ctrl.getItem().objectType}}">
        </md-card>

        <md-card layout-align="center">
          <editable-id item="$ctrl.getItem()"></editable-id>
        </md-card>

        <md-content layout-padding flex>
          <div layout-align="center center" class="clipped" flex>
            <span class="md-body-1">{{$ctrl.getItem().label.ptBR.plainText || $ctrl.getItem().value.ptBR.plainText}}</span>
          </div>
        </md-content>

        <otus:button click="$ctrl.deleteSurveyItem()" tooltip="Excluir item" icon-button="delete" />
      </md-content>

    </item-container-header>

    <item-container-body>
      <otus:question-item ng-if="::$ctrl.item.isQuestion()" item="$ctrl.item"></otus:question-item>
      <misc-item ng-if="::!$ctrl.item.isQuestion()" item="$ctrl.item"></misc-item>
    </item-container-body>
  </item-container>
</md-whiteframe>
<br />
