<div layout="column" id="maincontainer" flex flex-gt-md="60" flex-offset-gt-md="20" flex-gt-lg="40" flex-offset-gt-lg="30" flex-gt-sm="70" flex-offset-gt-sm="15" flex-gt-xs="80" flex-offset-gt-xs="10">
  <div id={{$ctrl.getQuestionId()}} class="custom-whiteframe" layout="column" md-whiteframe="2dp"  style="min-width: 300px; border-radius: 12px 12px">
    <md-toolbar class="md-primary" layout="row" layout-padding="" layout-align="start center" style="border-radius: 12px 12px 0 0">
      <span class="md-title" style="vertical-align: middle;">{{$ctrl.position}}</span>

      <span flex="5"></span>
                  <div layout-align="center center" class="clipped" flex>
                    <span class="md-body-1">{{$ctrl.item.label.ptBR.plainText || $ctrl.item.value.ptBR.plainText}}</span>
                  </div>
      <span flex></span>

      <div class="item-id-frame md-primary" layout-padding layout-align="center center">
        <otus-item-icon item="{{::$ctrl.item.objectType}}" >
      </div>
    </md-toolbar>
    <item-container item="$ctrl.item" position="$ctrl.position">
      <item-container-header flex>
        <div layout="row" layout-align="start center" flex >
          <md-card layout-align="center">
            <editable-id item="::$ctrl.item"></editable-id>
          </md-card>
        </div>
      </item-container-header>
      <item-container-body>
        <otus-question-item ng-if="::$ctrl.item.isQuestion()" item="$ctrl.item"></otus-question-item>
        <misc-item ng-if="::!$ctrl.item.isQuestion()" item="$ctrl.item"></misc-item>
      </item-container-body>
    </item-container>
  </div>
  <br />
</div>
