<md-list ng-controller="UserController" flex>
    <md-toolbar class="md-theme-light">
        <div class="md-toolbar-tools md-primary">
            <h2>
                <span>Inativos</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="enableUsers()" aria-label="Habilitar usuários">
                <md-icon md-svg-icon="lock-open-outline" class="icon-white"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-list-item class="md-3-line" ng-repeat="disabledUser in users.disabledUsers">
        <div class="md-list-item-text" layout="column">
            <md-checkbox ng-model="disabledUser.selected" ng-disabled="disabledUser.admin" class="md-secondary"></md-checkbox>
            <h3>{{disabledUser.name}}</h3>
            <p>{{disabledUser.email}}</p>
            <h4 ng-show="disabledUser.admin">Administrador</h4>
        </div>
        <md-divider ng-if="!$last"></md-divider>
    </md-list-item>
    <div layout="row" layout-align="center center" ng-show="!users.disabledUsers.length">
        <p class="md-body-2">Nenhum Usuário Encontrado</p>
    </div>
</md-content>
<md-toolbar class="md-theme-light">
    <div class="md-toolbar-tools md-primary">
        <h2>
            <span>Ativos</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="disableUsers()" aria-label="Desabilitar usuários">
            <md-icon md-svg-icon="lock-outline" class="icon-white"></md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-list-item class="md-3-line" ng-repeat="activedUser in users.activedUsers">
    <div class="md-list-item-text" layout="column">
        <md-checkbox ng-model="activedUser.selected" ng-disabled="activedUser.admin" class="md-secondary"></md-checkbox>
        <h3>{{activedUser.name}}</h3>
        <p>{{activedUser.email}}</p>
        <h4 ng-show="activedUser.admin">Administrador</h4>
    </div>
    <md-divider ng-if="!$last"></md-divider>
</md-list-item>
<div layout="row" layout-align="center center" ng-show="!users.activedUsers.length">
    <p class="md-body-2">Nenhum Usuário Encontrado</p>
</div>
</md-list>
