<div id="login-page" layout="column" flex>
	<div id="divtop">
		<h2 class="nameStudio">
			<span class="md-display-1">Otus Studio</span>
		</h2>
		<div id="center">
			<div layout="column">
				<div class="logo" id="logo_test"></div>
				<div>
					<div id="content" flex>
						<form name="loginForm" novalidate>
							<br>
							<h6 class="md-subhead error-message" ng-show="invalidLogin">Login
								invalido. Verifique os dados informados.</h6>
							<br />
							<md-input-container class="md-block">
								<label>Email</label>
								<input name="userEmail" ng-model="user.email" required />

								<div ng-messages="loginForm.userEmail.$error">
									<div ng-message="required">Obrigatório</div>
								</div>
							</md-input-container>

							<md-input-container class="md-block">
								<label>Senha</label>
								<input name="userPassword" ng-model="user.password" type="password" required />

								<div ng-messages="loginForm.userPassword.$error">
									<div ng-message="required">Obrigatório</div>
								</div>
							</md-input-container>
							<br />

							<div layout="row" layout-sm="column">
								<md-button type="submit" class="md-raised md-accent" ng-click="authenticate(user)" ng-disabled="loginForm.$invalid">
									Logar
								</md-button>
								<md-button md-no-ink class="md-primary" ng-click="visitAccess()">Visitante</md-button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
