<style>
  md-input-container {
    margin: 0px 0 !important
  }

  .footnote {
    font-size: 0.85em;
    margin: 30px;
    padding: 5px;
    background-color: #bae1ff;
  }
</style>
<md-card id="inputFields" md-theme-watch>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Recursos auxiliares</span>
      <span class="md-subhead">Aqui você pode adicionar uma nova variável que será apresentada durante o
        preenchimento</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <md-card md-theme-watch>
      <!-- fields to new variable  -->
      <md-card-content ng-if="!$ctrl.isEdition">
        <p class="md-subhead">Qual é a nova variável?</p>
        <div layout="row" layout-align="start center">
          <md-input-container md-no-float class="md-block" flex="25">
            <input ng-model="$ctrl.variable.name" placeholder="Informe o nome da variável">
          </md-input-container>
          <md-input-container md-no-float class="md-block" flex="25">
            <input ng-model="$ctrl.variable.description" placeholder="Informe a descrição correspondente">
          </md-input-container>
        </div>
        <p class="md-subhead">A qual envio correspondente a nova variável?</p>
        <md-input-container md-no-float class="md-block" flex="25">
          <input ng-model="$ctrl.variable.sending" placeholder="Informe o envio correspondente">
        </md-input-container>
        <div layout="row" layout-align="start center">
          <p class="md-subhead">Você deseja personalizar o resultado apresentado?</p>
          <div class="md-padding"></div>
          <md-radio-group ng-model="$ctrl.variable.customize" layout="row">
            <md-radio-button ng-value="true">Sim</md-radio-button>
            <md-radio-button ng-value="false" ng-click="$ctrl.clearCustomFields()">Não</md-radio-button>
          </md-radio-group>
        </div>
        <div ng-if="$ctrl.isCustomize()" layout="row" layout-align="start start">
          <md-input-container md-no-float class="md-block" flex="25">
            <input ng-model="$ctrl.customization.value" placeholder="Informe o valor">
          </md-input-container>
          <md-input-container md-no-float class="md-block" flex="25">
            <input ng-model="$ctrl.customization.label" placeholder="Informe a personalização">
          </md-input-container>
          <md-button ng-if="$ctrl.customization.value && $ctrl.customization.label" class="md-icon-button" aria-label="baixar template"
            ng-click="$ctrl.addCustom()">
            <md-icon md-font-library="material-icons" aria-label="baixar template" style="color:#448aff">check</md-icon>
            <md-tooltip md-direction="left">Adicionar</md-tooltip>
          </md-button>
        </div>
        <div ng-repeat="customization in $ctrl.variable.customizations track by $index" layout="row" layout-align="start start">
          <md-input-container class="md-block" flex="25">
            <label>{{customization.value}}</label>
            <input disabled>
          </md-input-container>
          <md-input-container class="md-block" flex="25">
            <label>{{customization.label}}</label>
            <input disabled>
          </md-input-container>
          <md-button class="md-icon-button" aria-label="baixar template" ng-click="$ctrl.removeCustom($index)">
            <md-icon md-font-library="material-icons" aria-label="baixar template">close</md-icon>
            <md-tooltip md-direction="left">Remover</md-tooltip>
          </md-button>
        </div>
      </md-card-content>
      <!-- fields to edit of variable  -->
      <md-card-content ng-if="$ctrl.isEdition">
        <p class="footnote">
          Abaixo é possível editar as informações da variável selecionada.
        </p>
        <p class="md-subhead">Você deseja editar o nome ou descrição da variável?</p>
        <div layout="row" layout-align="start center">
          <md-input-container md-no-float class="md-block" flex="25">
            <input ng-model="$ctrl.variable.name" placeholder="Informe o nome da variável">
          </md-input-container>
          <md-input-container md-no-float class="md-block" flex="25">
            <input ng-model="$ctrl.variable.description" placeholder="Informe a descrição correspondente">
          </md-input-container>
        </div>
        <p class="md-subhead">O envio correspondente da variável?</p>
        <md-input-container md-no-float class="md-block" flex="25">
          <input ng-model="$ctrl.variable.sending" placeholder="Informe o envio correspondente">
        </md-input-container>
        <div layout="row" layout-align="start center">
          <p class="md-subhead">Personalizar o resultado apresentado?</p>
          <div class="md-padding"></div>
          <md-radio-group ng-model="$ctrl.variable.customize" layout="row">
            <md-radio-button ng-value="true">Sim</md-radio-button>
            <md-radio-button ng-value="false" ng-click="$ctrl.clearCustomFields()">Não</md-radio-button>
          </md-radio-group>
        </div>
        <div ng-if="$ctrl.isCustomize()" layout="row" layout-align="start start">
          <md-input-container md-no-float class="md-block" flex="25">
            <input ng-model="$ctrl.customization.value" placeholder="Informe o valor">
          </md-input-container>
          <md-input-container md-no-float class="md-block" flex="25">
            <input ng-model="$ctrl.customization.label" placeholder="Informe a personalização">
          </md-input-container>
          <md-button ng-if="$ctrl.customization.value && $ctrl.customization.label" class="md-icon-button" aria-label="baixar template"
            ng-click="$ctrl.addCustom()">
            <md-icon md-font-library="material-icons" aria-label="baixar template" style="color:#448aff">check</md-icon>
            <md-tooltip md-direction="left">Adicionar</md-tooltip>
          </md-button>
        </div>
        <div ng-repeat="customization in $ctrl.variable.customizations track by $index" layout="row" layout-align="start start">
          <md-input-container class="md-block" flex="25">
            <label>{{customization.value}}</label>
            <input disabled>
          </md-input-container>
          <md-input-container class="md-block" flex="25">
            <label>{{customization.label}}</label>
            <input disabled>
          </md-input-container>
          <md-button class="md-icon-button" aria-label="baixar template" ng-click="$ctrl.removeCustom($index)">
            <md-icon md-font-library="material-icons" aria-label="baixar template">close</md-icon>
            <md-tooltip md-direction="left">Remover</md-tooltip>
          </md-button>
        </div>
      </md-card-content>
      <!-- actions -->
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click="$ctrl.cancel()" class="md-raised md-warn">Cancelar</md-button>
        <md-button ng-click="$ctrl.saveVariable()" class="md-raised md-primary">Salvar</md-button>
      </md-card-actions>
    </md-card>
  </md-card-content>
  <!-- presentation of variable list  -->
  <md-card-title>
    <md-card-title-text>
      <span class="md-subhead">Variáveis sendo utilizadas no momento:</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content ng-if="!$ctrl.variablesListIsEmpty()">
    <md-card>
      <md-list-item class="md-3-line" ng-repeat="variable in $ctrl.variablesList track by $index">
        <div flex="80" layout-margin layout="row" layout-align="start center">
          <div>
            <md-icon aria-label="Variáveis">local_offer</md-icon>
          </div>
          <div class="md-list-item-text" layout-align="center start" layout-margin>
            <h3>Nome da variável: {{ variable.name }}</h3>
            <h4>Descrição: {{ variable.name }}</h4>
            <h4>Envio correspondente: {{ variable.sending }}</h4>
            <h4 ng-if="variable.customizations" ng-repeat="customization in variable.customizations">
              {{customization.value}} - {{customization.label}}
            </h4>
          </div>
        </div>
        <div layout-margin layout="row" layout-align="end center" flex="20">
          <md-button class="md-icon-button" aria-label="baixar template" ng-click="$ctrl.removeVariable($index)">
            <md-icon md-font-library="material-icons" aria-label="baixar template">close</md-icon>
            <md-tooltip md-direction="left">Remover</md-tooltip>
          </md-button>
          <md-button class="md-icon-button" aria-label="baixar dicionário de variáveis" ng-click="$ctrl.editVariable($index)">
            <md-icon md-font-library="material-icons" aria-label="baixar dicionário de variáveis">edit</md-icon>
            <md-tooltip md-direction="left">Editar</md-tooltip>
          </md-button>
        </div>
        <md-divider></md-divider>
      </md-list-item>
    </md-card>
  </md-card-content>
  <md-content layout="row" ng-if="$ctrl.variablesListIsEmpty()" flex layout-align="center center">
    <div class="md-list-item-text">
      <p>Atualmente não há variáveis auxiliares para esta atividade!</p>
    </div>
  </md-content>
</md-card>