<md-content flex>
    <md-content layout="row" ng-repeat="route in routes">
        <md-input-container route-element="{{::route.routeToRemoveTarget}">
            <label>Nome</label>
            <md-icon class="material-icons">low_priority</md-icon>
            <input editing-source
                es-type="input-text"
                es-id="survey-navigation-name"
                es-target="{{::route.nameTarget}}"
                ng-model="route.name"
                aria-label="Name"/>
        </md-input-container>

        <md-input-container layout="row" route-element="{{::route.routeToRemoveTarget}">
            <label>Destino</label>
            <input editing-source
                es-type="input-text"
                es-id="survey-navigation-to"
                es-target="{{::route.destinationTarget}}"
                ng-model="route.destination"
                aria-label="Destino"/>
        </md-input-container>

        <md-button editing-source
            es-type="remove-button"
            es-id="survey-navigation-to"
            es-target="{{::route.routeToRemoveTarget}}"
            route-element="{{::route.routeToRemoveTarget}">
            <md-icon aria-label="Remover Rota" class="material-icons">close
                <md-tooltip md-direction="bottom">
                    Remover
                </md-tooltip>
            </md-icon>
        </md-button>
    </md-content>

    <route-creator></route-creator>
</md-content>
