<md-content layout-padding>
    <md-radio-group>
        <md-content ng-repeat="optionWidget in widget.options" layout="row" style="margin: 10px">
            <md-checkbox value="{{optionWidget.option.value}}" aria-label="{{optionWidget.id}}" flex></md-checkbox>
            <otus:text-editor flex="95" ng-model="optionWidget.option.label" label="optionWidget.option.label.ptBR.formattedText" placeholder="Clique para inserir o texto da opção de resposta"></otus:text-editor>
        </md-content>
    </md-radio-group>
    <md-content>
        <otus:button click="widget.addOption" label="Adicionar" />
        <otus:button click="widget.removeLastOption" label="Remover última" />
    </md-content>
</md-content>
