<md-content layout-padding>
    <md-radio-group>
        <md-content ng-repeat="option in widget.options track by $index" layout="row" layout-align="start center">
            <md-card>
                <editable-id item="option"></editable-id>
            </md-card>
            <md-checkbox value="{{option.customOptionID}}" aria-label="{{option.id}}" style="margin-top: 15px;"></md-checkbox>
            <otus:text-editor flex ng-model="option.label" label="option.label.ptBR.formattedText" placeholder="Clique para inserir o texto da opção de resposta"></otus:text-editor>
        </md-content>
    </md-radio-group>
    <md-content>
        <otus:button click="widget.addOption" label="Adicionar" />
        <otus:button click="widget.removeLastOption" label="Remover última" />
    </md-content>
</md-content>
