<md-radio-group class="radio-group">
    <div ng-repeat="option in options" layout="row" style="margin: 10px">
        <md-radio-button aria-label="opção" ng-value="$index" flex style="margin: 0"></md-radio-button>
        <div flex="95" contenteditable="true" edit-mode edit-placeholder="Clique para inserir o texto da opção de resposta"></div>
    </div>
</md-radio-group>
<div>
  <md-button class="md-raised" ng-click="addItem()" type="button">Adicionar</md-button>
  <md-button class="md-raised" ng-click="removeItem()" type="button">Remover</md-button>
</div>
