<md-list-item style="margin-top:15px" layout-padding="">
  <form name="precisionValidator" layout="row" flex="85">
    <md-input-container class="md-icon-right" flex>
      <label>Total de dígitos:</label>
      <input name="precision" type="number" min="0" flex="100" aria-label="Total de dígitos" ng-model="widget.data" ng-change="widget.updateData()" required>
      <md-icon ng-click="widget.deleteValidator()">close</md-icon>
      <div ng-messages="precisionValidator.precision.$error">
        <div ng-message="required">Adicione um número de dígitos</div>
      </div>
    </md-input-container>
  </form>
</md-list-item>
