.palette {
	border-right: 1px solid #e1e1e1;
	background-color: #FFFFFF;
}

.resource {
	border-left: 1px solid #e1e1e1;
	background-color: #FFFFFF;
}

.stage {
	margin: 0 1px 0px;
	padding-left: 8px;
	padding-right: 8px;
	background-color: #FAFAFA;
	padding-top: 11px;
}
