<md-content>
    <md-radio-group class="radio-group">
        <div radio-container ng-repeat="optionWidget in metadataAnswerOptions track by $index" layout="row" style="margin: 10px">
            <md-radio-button aria-label="{{optionWidget.id}}" ng-value="$index" flex style="margin: 0"></md-radio-button>
            <otus:text-editor flex="95" ng-model="optionWidget.option" placeholder="Clique para inserir o texto da opção de metadado"></otus:text-editor>
        </div>
    </md-radio-group>

    <div>
        <otus:add-button class="md-raised md-layoutTheme-theme md-ink-ripple" label="Adicionar" ng-model="MetadataAnswer"></otus:add-button>

        <md-button
            class="md-raised"
            type="button"
            editing-source
            es-type="remove-button"
            es-id="metadata-{{::$parent.$parent.wiget.questionId}}-remove-option"
            es-target="survey.questionContainer.{{::$parent.$parent.widget.questionId}}.metadata.option.{{lastOptionIndex}}">Remover</md-button>
    </div>
</md-content>
