<md-toolbar layout="row" flex>
  <div class="md-toolbar-tools">
    <h2>Item de Navegação: {{ $ctrl.navigation.origin }}</h2>
  </div>
</md-toolbar>
<md-dialog-content layout="row" flex>
  <div layout="column" flex="25" layout-margin>
    <h3>Rotas deste item</h3>
    <otus-navigation-minimap navigation="$ctrl.navigation" flex></otus-navigation-minimap>
  </div>
  <div layout="column" flex  layout-align="space-around none" layout-margin
    ng-class="{'route-detail-open': $ctrl.selectedRoute, 'route-detail-close': !$ctrl.selectedRoute}">
    <md-tabs>
      <md-tab label="{{ condition.name }}" ng-repeat="condition in $ctrl.selectedRoute.conditionSet track by $index">
        <md-button>OK!</md-button>
        <md-button>OK!</md-button>
        <md-button>OK!</md-button>
      </md-tab>
    </md-tabs>
    <md-button ng-click="$ctrl.addCondition()">Nova condição</md-button>
  </div>
</md-dialog-content>
<md-dialog-actions layout="row" flex>
  <md-button>Cancelar</md-button>
  <md-button>Salvar</md-button>
</md-dialog-actions>
