#sheet {
    border: 1px solid #D8D6D6;
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 297mm !important;
    padding: 10mm;
    width: 210mm;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(181, 181, 181, 0.35);
    -moz-box-shadow: 0px 0px 2px 2px rgba(181, 181, 181, 0.35);
    box-shadow: 0px 0px 2px 2px rgba(181, 181, 181, 0.35);
}

.question-whiteframe {
    margin-top: 5px
}

ui-accordion-header {
    min-height: 75px;
}

ui-accordion-header {
    border-bottom: 1px solid #E0E0E0;
}

ui-accordion-header button {
    margin-top: 9px !important;
}

ui-accordion-header md-fab-speed-dial * {
    display: inherit;
}

ui-accordion-header md-fab-speed-dial.hidden {
    display: none;
}

ui-accordion-header md-fab-speed-dial.visible {
    display: flex;
}

ui-accordion-content {
    transition: all .3s cubic-bezier(.55, 0, .55, .2)
}

ui-accordion-content.hidden {
    display: none;
}

ui-accordion-content.visible {
    display: flex;
}


ui-accordion-header md-fab-speed-dial md-fab-actions button {
    background-color: gray !important;
}

ui-accordion-header md-fab-speed-dial md-fab-actions button.trash {
    background-color: red !important;
}
