<md-toolbar layout="row" flex>
  <div class="md-toolbar-tools">
    <h2>{{ $ctrl.label.dialog.title }}</h2>
  </div>
</md-toolbar>
<md-dialog-content layout="row" layout-align="center center">
  <md-card layout="column" flex="40" layout-align="center center">
    <md-card-title>
      <md-card-title-text>
        <span class="md-subhead" style="color: #3D855B !important">{{ $ctrl.label.origin }}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <span layout-align="center center">{{ $ctrl.label.originNode }}</span>
    </md-card-content>
  </md-card>
  <span layout="column" flex></span>
  <md-card layout="column" flex="40" layout-align="center center">
    <md-card-title>
      <md-card-title-text>
        <span class="md-subhead" style="color: #1B5BD1 !important">{{ $ctrl.label.destination }}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <span layout-align="center center">{{ $ctrl.label.destinationNode }}</span>
    </md-card-content>
  </md-card>
</md-dialog-content>
<md-dialog-content layout="row" flex>
    <h3 ng-show="false" layout-align="center center" flex>{{ $ctrl.label.message.emptyConditions }}</h3>

    <md-tabs flex md-selected="selectedIndex" md-border-bottom md-autoselect md-dynamic-height>
      <md-tab flex label="{{ condition.name }}" ng-repeat="condition in $ctrl.selectedRoute.conditionSet track by $index" ng-click="$ctrl.selectCondition(condition)">

        <md-list flex>
          <md-list-item flex ng-repeat="rule in $ctrl.selectedCondition.rules" class="md-1-line">
            <div class="md-list-item-text" layout="column" flex>
              <otus-rule-editor flex create-mode="false"></otus-rule-editor>
            </div>
          </md-list-item>
          <md-list-item flex class="md-1-line" flex>
            <otus-rule-editor flex create-mode="true"></otus-rule-editor>
          </md-list-item>
        </md-list>

      </md-tab>
    </md-tabs>

</md-dialog-content>
<md-dialog-actions layout="row" flex>
  <div flex layout-align="start center">
    <md-button ng-click="$ctrl.addCondition()" flex>{{ $ctrl.label.button.createCondition }}</md-button>
  </div>
  <md-button class="md-raised" ng-click="$ctrl.cancel()">{{ $ctrl.label.button.cancel }}</md-button>
  <md-button class="md-raised md-primary" ng-click="$ctrl.save()">{{ $ctrl.label.button.save }}</md-button>
</md-dialog-actions>
