<md-toolbar layout="row" flex>
  <div class="md-toolbar-tools">
    <h2>{{ $ctrl.label.dialog.title }}</h2>
  </div>
</md-toolbar>
<md-dialog-content layout="row" layout-align="center center">
  <md-card layout="column" flex="40" layout-align="center center">
    <md-card-title>
      <md-card-title-text>
        <span class="md-subhead" style="color: #3D855B !important">{{ $ctrl.label.origin }}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <span layout-align="center center">{{ $ctrl.label.originNode }}</span>
    </md-card-content>
  </md-card>
  <span layout="column" flex></span>
  <md-card layout="column" flex="40" layout-align="center center">
    <md-card-title>
      <md-card-title-text>
        <span class="md-subhead" style="color: #1B5BD1 !important">{{ $ctrl.label.destination }}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <span layout-align="center center">{{ $ctrl.label.destinationNode }}</span>
    </md-card-content>
  </md-card>
</md-dialog-content>
<md-dialog-content layout="row" flex>
  <div layout="column" flex>
    <md-whiteframe class="md-whiteframe-2dp" layout-align="center center" ng-repeat="condition in $ctrl.conditions track by $index">
      <otus:accordion flex>
        <otus:accordion-header>
          <md-content flex>
            Grupo de condições
          </md-content>
        </otus:accordion-header>
        <otus:accordion-content>
          <md-content flex>
            <md-list-item layout="row" flex class="md-1-line" ng-repeat="rule in condition.rules track by $index">
              <div layout="column" flex class="md-list-item-text">
                <otus-rule-editor flex rule-data="rule" rule-item-index="$index" on-delete="$ctrl.deleteRule(ruleIndex)"></otus-rule-editor>
              </div>
            </md-list-item>
            <md-list-item layout="row" flex class="md-1-line">
              <otus-rule-editor flex></otus-rule-editor>
            </md-list-item>
          </md-content>
        </otus:accordion-content>
      </otus:accordion>
    </md-whiteframe>
  </div>
</md-dialog-content>
<md-dialog-actions layout="row" flex>
  <div flex layout-align="start center">
    <md-button class="md-raised" ng-click="$ctrl.createCondition()" flex>{{ $ctrl.label.button.createCondition }}</md-button>
  </div>
  <md-button class="md-raised" ng-click="$ctrl.cancel()">{{ $ctrl.label.button.cancel }}</md-button>
  <md-button class="md-raised md-primary" ng-click="$ctrl.save()">{{ $ctrl.label.button.save }}</md-button>
</md-dialog-actions>
