<link href="private/repository/repository.css" rel="stylesheet">

<div id="repository" class="center" ng-controller="RepositoryCtrl">
    <md-content>
        <form name="repositoryForm" novalidate>
            <md-input-container>
                <label>Nome do repositório</label>
                <input name="name" ng-model="repository.name" type="text" ng-required="true" />
                <div ng-messages="repositoryForm.name.$error">
                    <div ng-message="required">Obrigatório</div>
                </div>
            </md-input-container>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>URL</label>
                    <input name="url" ng-model="repository.url" type="text" ng-required="true" />
                    <div ng-messages="repositoryForm.url.$error">
                        <div ng-message="required">Obrigatório</div>
                    </div>
                </md-input-container>
                <md-input-container flex="30">
                    <label>Porta</label>
                    <input name="port" ng-model="repository.port" type="number" ng-required="true" />
                    <div ng-messages="repositoryForm.port.$error">
                        <div ng-message="required">Obrigatório</div>
                    </div>
                </md-input-container>
            </div>
            <md-input-container>
                <label>Usuário</label>
                <input name="username" ng-model="repository.username" type="text" ng-required="true" />
                <div ng-messages="repositoryForm.username.$error">
                    <div ng-message="required">Obrigatório</div>
                </div>
            </md-input-container>
            <md-input-container>
                <label>Senha</label>
                <input name="password" ng-model="repository.password" type="text" ng-required="true" />
                <div ng-messages="repositoryForm.password.$error">
                    <div ng-message="required">Obrigatório</div>
                </div>
            </md-input-container>
            <md-button class="md-raised md-primary" ng-disabled="repositoryForm.$invalid" ng-click="connect(repository)">Conectar</md-button>
            <div layout="row" layout-sm="column" layout-align="center">
                <md-progress-circular md-mode="indeterminate" ng-show="isLoading"></md-progress-circular>
            </div>
        </form>
    </md-content>
</div>
