<md-list-item style="margin-top:15px" layout-padding="">
  <form name="lowerLimitValidator" layout="row" flex="85">
    <md-input-container class="md-icon-right" flex>
      <label>Valor Mínimo:</label>
      <input name="lowerLimit" type="number" min="0" flex="100" aria-label="LowerLimit" ng-model="widget.data" ng-change="widget.updateData()" required>
      <md-icon ng-click="widget.deleteValidator()">close</md-icon>
      <div ng-messages="lowerLimitValidator.lowerLimit.$error">
        <div ng-message="required">Adicione um valor</div>
      </div>
    </md-input-container>
  </form>
</md-list-item>
