<md-content layout="column" flex>
    <md-input-container layout="row">
        <label>Url Imagem</label>
        <md-icon class="material-icons">public</md-icon>
        <input ng-model="$ctrl.item.url" type="text" aria-label="Url Image" />
    </md-input-container>
    <div>
        <md-card>
            <img ng-src="{{$ctrl.item.url || 'app/assets/img/image_not_found.jpg'}}" class="md-card-image">
            <md-card-content>
                <otus:text-editor ng-model="$ctrl.item.footer" place-holder="Rodapé para informações relacionadas a imagem"
                flex></otus:text-editor>
            </md-card-content>
        </md-card>
    </div>
</md-content>
